	/* app css stylesheet */
	/* Javascript menu */
	#sddm
	{	margin: 0;
		padding: 0;
		z-index: 30}

	#sddm li
	{	margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		font: bold 11px arial}

	#sddm li a
	{	display: block;
		margin: 0 1px 0 0;
		padding: 4px 10px;
		width: 100px;
		background: #5970B2;
		color: #FFF;
		text-align: center;
		text-decoration: none}

	#sddm li a:hover
	{	background: #49A3FF}

	#sddm div
	{	position: absolute;
		visibility: hidden;
		margin: 0;
		padding: 0;
		background: #EAEBD8;
		border: 1px solid #5970B2}

		#sddm div a
		{	position: relative;
			display: block;
			margin: 0;
			padding: 5px 10px;
			width: auto;
			white-space: nowrap;
			text-align: left;
			text-decoration: none;
			background: #EAEBD8;
			color: #2875DE;
			font: 11px arial}

		#sddm div a:hover
		{	background: #49A3FF;
			color: #FFF}

	/* End of javascript menu */

#header { 
        margin: auto;
	width:100%;
	display:block;	


    /*width: 100%;*/
    top: 0%;
    
    /*left: 38%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    position: fixed;
    z-index:10000;
}
#header li img {
	/*opacity: 0.5;*/
	
}
	body {
	  padding-top: 20px;
	}
	.button {
	    background-color: #4CAF50; /* Green */
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    max-width: 250px;
	}
	.button-orange {background-color:orange;}
	.button-yellow {background-color:yellow;}
	.button-blue {background-color: #008CBA; min-width:200px;} /* Blue */
	.button-red {background-color:red; min-width: 200px;}

	input.ng-invalid {
		border:2px solid red;
/*	    background-color: red;*/
	}
	input.ng-valid {
		border: 2px solid green;
/*	    background-color: green;*/
	}

	.insect-images {
	  background-color: white;
	  /*width: 450px;*/

	  max-width: 100%;
	  max-height:100%;
	  /*height: 450px;*/
	  overflow: hidden;
	  position: relative;
	  display: none;
	}

	img.insect {
	  background-color: white;
	  width: 100%;
	  max-width: 100%:
          max-height: 100%;
	  min-width: 300px;
	  min-height: 300px;
	  padding: 2em;
 	  margin-right: 3em;
	  margin-bottom: 2em;
	  display:none;	  
	}
	img.insect-detail {
	  background-color: white;
	  
	  /*width:100%;*/
	  max-width: 100%:
          max-height: 100%;
          min-width: 200px;
	  min-height: 200px;
	  padding: 2em;
 	  margin-right: 3em;
	  margin-bottom: 2em;
	  display:none;
	  
	}
	img.insect.active, img.insect-detail.active {
		display: block;
		margin:auto;
	}

	ul.insect-thumbs {
	  list-style: none;
	}

	ul.insect-thumbs li {
	  border: 1px solid black;
	  display: inline-block;
	  margin: 5px;
	  background-color: white;
	}

	ul.insect-thumbs img{
	  /*min-height: 150px;
	  min-width: 150px;
	  height: 150px;
	  width: 150px;*/
	  width: 100%;
	  height:  100%;
	  padding: 0em;
	
	}

	ul.insect-thumbs img:hover{
	  cursor: pointer;
	}

.flex-table {
	display: flex;
	flex-flow: row wrap;
  	justify-content:center;
	list-style:none;

}

.flex-center {
  display:table;
margin: 0 auto;
text-align:center;
   max-width:500px;
}

#flex-table li {
	flex: 1 1 40%;

}

.horizontal-table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list-table {
	/*min-width: 350px;*/
	list-style: none;
	padding-top: 20px;
}

#horizontal-list-table li {
	display: inline;
}

	/** Detail View **/
	img.phone {
	  float: left;
	  margin-right: 3em;
	  margin-bottom: 2em;
	  background-color: white;
	  padding: 2em;
	  height: 400px;
	  width: 400px;
	  display: none;
	}

	img.phone.active {
		display: block;
	}

	.phones {
	  list-style: none;
	}

	.phones li {
	  clear: both;
	  height: 115px;
	  padding-top: 15px;
	}

	* {
	    box-sizing: border-box;
	}

	.row::after {
	    content: "";
	    clear: both;
	    display: table;
	
	}

	[class*="col-"] {
	    float: left;
	    padding: 15px;
	}
	/* For mobile phones: */
	[class*="col-"] {
	    width: 100%;
	}
	#collection div, #login div,#logout div, #search-menu div, #upload div, #modify div, #login div,#logout div, #options div {
		display:none;
	}
	#login,#logout, #options {
		float:right;
	}
	#modify img:hover {
		src: "images/modify-hover";
	}

	.menu ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	}

	.menu li {
	    padding: 8px;
	    margin-bottom: 7px;
	    background-color: #33b5e5;
	    color: #ffffff;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.menu li:hover {
	    background-color: #0099cc;
	}

	.aside {
	    background-color: #33b5e5;
	    padding: 15px;
	    color: #ffffff;
	    text-align: center;
	    font-size: 14px;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	} 
	 
	.header {

	    background-color: #9933cc;

	    color: #ffffff;

	    padding: 15px;

	} 
	 
	.footer {
	    background-color: #0099cc;
	    color: #ffffff;
	    text-align: center;
	    font-size: 12px;
	    padding: 15px;
	} 
	 


	select {
		margin:5px;
	}
   	input {
		margin: 5px;
	}
	textarea {
		margin: 5px;
	}

	form { 
	/*margin: 0 auto; 
	width:550px;
	text-align: center;*/
	}

	
	.text {
		display:inline;	
	}
	.thumb {
	  float: left;
	  margin: -0.5em 1em 1.5em 0;
	  padding-bottom: 1em;
	  height: 100px;
	  width: 100px;
	}

	ul.phone-thumbs {
	  margin: 0;
	  list-style: none;
	}

	ul.phone-thumbs li {
	  border: 1px solid black;
	  display: inline-block;
	  margin: 1em;
	  background-color: white;
	}

	ul.phone-thumbs img {
	  height: 100px;
	  width: 100px;
	  padding: 1em;
	}

	ul.phone-thumbs img:hover {
	  cursor: pointer;
	}


	ul.specs {
	  clear: both;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	ul.specs > li{
	  display: inline-block;
	  width: 200px;
	  vertical-align: top;
	}

	ul.specs > li > span{
	  font-weight: bold;
	  font-size: 1.2em;
	}

	ul.specs dt {
	  font-weight: bold;
	}

	h1 {
	  border-bottom: 1px solid gray;
	  align: "center";
	  width:"70%";
	}

	#m2,#m3 {
		visibility: hidden;
	}

	/** From bootstrap */

	.pagination{height:40px;margin:20px 0;}
	.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
	.pagination ul>li{display:inline;}
	.pagination ul>li>a,.pagination ul>li>span{float:left;padding:0 14px;line-height:38px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
	.pagination ul>li>a:hover,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
	.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
	.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover{color:#999999;background-color:transparent;cursor:default;}
	.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
	.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
	.pagination-centered{text-align:center;}
	.pagination-right{text-align:right;}

	.pull-right{float:right;}

	/* End of bootstrap */

	/* From https://designmodo.com/create-drop-down-menu-search-box/ */

	@import url(http://fonts.googleapis.com/css?family=Montserrat);
	 
	* {
	    margin: 0;
	    padding: 0;
	}
	
.center ul{
    /*margin-right:5%;
    margin-left: 5%;
    width: 90%;*/
    top: 4%;
    
    left: 38%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
position: fixed;
  z-index:10000;
}

.pagination-center {
	margin-left:auto;
	margin-right: auto;
}

table.center{
	margin-left: auto;
	margin-right: auto;
		
}
table.center td {
	min-width:100px;
}

.centered {
    margin: auto;
    display: block;
    width: 80%;

}
	.nav {
	    width:100%;
	    background: #232323;
	    height: 40px;
	    display: inline-block;
	}
	 
	.nav li {
	
	    float: left;
	    list-style-type: none;
	    position: relative;
	    background: #232323;
	
	}

	#options a {
	    background: #232323;
	}

	.nav li a {
	    font-size: 16px;
	    color: white;	
	    display: block;
	    line-height: 40px;
	    padding: 0 26px;
	    text-decoration: none;
	    border-left: 1px solid #2e2e2e;
	    font-family: Montserrat, sans-serif;
	    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	}
	
	.nav li a:hover {
	    background-color: #2e2e2e;
	}
	 
	#settings a {
	    padding: 18px;
	    height: 24px;
	    font-size: 10px;
	    line-height: 24px;
	}	

	#search {
	    width: 357px;
	    margin: 4px;
	}
	
	#search_text {
	    width: 297px;
	    padding: 15px 0 15px 20px;
	    font-size: 16px;
	    font-family: Montserrat, sans-serif;
	    border: 0 none;
	    height: 52px;
	    margin-right: 0;
	    color: white;
	    outline: none;
	    background: #1f7f5c;
	    float: left;
	    box-sizing: border-box;
	    transition: all 0.15s;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
	    color: white;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: white;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: white;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: white;
	}
	#search_text:focus {
	    background: rgb(64, 151, 119);
	}
	#search_button {
	    border: 0 none;
	    background: #1f7f5c url(search.png) center no-repeat;
	    width: 60px;
	    float: left;
	    padding: 0;
	    text-align: center;
	    height: 52px;
	    cursor: pointer;
	}

	#options a{
	    border-left: 0 none;
	}
	#options>a {
	/**    background-image: url(triangle.png);**/
	    background-position: 85% center;
	    background-repeat: no-repeat;
	    padding-right: 42px;
	}
	.subnav {
	    visibility: hidden;
	    position: absolute;
	    top: 110%;
	    right: 0;
	    /*width: 70px;*/
	    height: auto;
	    opacity: 0;
	    transition: all 0.5s;
	    background: #232323;
	}

	.subnav li {
	    float: left;
	}
	.subnav li a {
	    border-bottom: 1px solid #2e2e2e;
	}

	#options:hover .subnav  {
	    visibility: visible;
	    top: 100%;
	    opacity: 1;
	}
	#o1, #o2 {
		visibility:hidden;
	}
	

	/* End of https://designmodo.com/create-drop-down-menu-search-box/ */
