<h1>{{translations.CREATEALBUM}}</h1>

<div class="container" ng-if="!emptyCollection">

    <div class="flex-center">
        <form ng-submit='search(query)'>
            <ul id="flex-table" class="flex-table">
                <li>
                    {{translations.CATEGORY}}:*
                </li>
                <li>

                    <select class="form-control-own" name="category" ng-model="query.category" required>
                        <option ng-repeat="category in categories" value="{{category[1]}}">
                            {{category[0]}}
                        </option>
                    </select>
                </li>
                <li> {{translations.PRIMARYCOLOR}}:</li>
                <li>
                    <select class="form-control-own" name="primaryColor" ng-model="query.primaryColor">
                        <option ng-repeat="color in colors" value="{{color[1]}}">
                            {{color[0]}}
                        </option>
                    </select>
                </li>
                <li>{{translations.SECONDARYCOLOR}}:</li>
                <li>
                    <select class="form-control-own" name="secondaryColor" ng-model="query.secondaryColor">
                        <option ng-repeat="color in colors" value="{{color[1]}}">
                            {{color[0]}}
                        </option>
                    </select>
                </li>
            </ul>

            <table class="button-center margin-top-lg">
                <tr>
                    <td>
                        <button type="submit" id="search_button" name="search" class="button button-green">
                            {{translations.SEARCHFROMCOLLECTION}}

                        </button>
                    </td>
                </tr>
            </table>
        </form>


    </div>

    <section class="section-search-results" ng-if="!emptyCollection">
        <p id=" searchResults" ng-model="searchResults" value={{searchResults}}>
        </p>

        <div ng-switch="searchResults">

            <div ng-switch-when="noResults" id="noResults">
                <br>
                <br>
                <h2>{{translations.NORESULTS}} </h2>

            </div>
            <div ng-switch-when="showResults" id="showResults">
                <br>
                <br>
                <h2>{{translations.SELECTINSECTS}}:</h2>

                <div class="container-thumbs-album">

                    <div>
                        <ul class="insect-thumbs">
                            <li ng-repeat="insect in pagedInsects[currentPage]">
                                <div class="thumb-card">
                                    <div class="margin-top-md" ng-repeat="translation in insect.translations">
                                        <p class="name-translation" ng-if="translation.language==lang">
                                            {{translation.name}}
                                        </p>
                                    </div>
                                    <p class="latinname-translation">
                                        {{insect.latinName}}
                                    </p>
                                    <div style="display:none">
                                        {{tmp = insect.images[0]+'_thumb.jpg'}}

                                    </div>
                                    <!-- <div class="album-image-container" ng-click="selectImage(insect)">
                                        <div ng-if="selectedInsects.includes(insect._id)" class="album-thumb-overlay">
                                            &nbsp;
                                        </div>
                                        <img draggable="true" ondragstart="drag(event)" class="scale-sm"
                                            id="{{insect.images[0]+'_thumb.jpg'}}"
                                            ng-src="{{insect.images[0]+'_thumb.jpg'}}" />

                                    </div> -->
                                    <div class="album-item-image-container">
                                        <img draggable="true" ondragstart="drag(event)" class="scale-sm"
                                            id="{{insect.images[0]+'_thumb.jpg'}}"
                                            ng-src="{{insect.images[0]+'_thumb.jpg'}}" ng-click="selectImage(insect)" />
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="container-album-pagination" ng-if="!hidePagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>
            </div>
    </section>

    <section class="section-cover" ng-if="selectedInsects.length > 0">

        <div class="cover-container">
            <div class="cover">
                <h3 class="text-centered">{{translations.COVER}}</h3>
                <figure class="album-cover" id="album-cover" ng-class="{albumCoverWithImage: albumCoverWithImage}"
                    ondragover="dragOver(event)" ondragleave="dragLeave(event)"></figure>
            </div>

            <div class="album-info-centered">

                <form ng-submit="saveAlbum(query)">
                    <p>{{selectedInsects.length}} items in album</p>
                    <div class="form-group">
                        <label>{{translations.ALBUMNAME}}</label>
                        <input type="text" class="form-control" id="albumName" name="albumName"
                            ng-model="query.albumName" required>
                    </div>

                    <br>
                    <button id="save" type="submit" class="button button-blue centered">{{translations.SAVE}}</button>
                </form>

            </div>
        </div>

        <div id="message" ng-if='messageError != ""' class="alert alert-danger">{{messageError}}</div>
        <div id="message" ng-if='messageInfo != ""' class="alert alert-success">{{messageInfo}}</div>

    </section>

    <div ng-if="emptyCollection">
        <p class="start-adding-collection-items">{{translations.NOCOLLECTIONITEMS}} <a
                ng-click="startToAddCollectionItems()">{{translations.HERE}}</a></p>
    </div>
</div>