<h1 ng-if="!sharedAlbums" id="albumList">{{translations.ALBUMLIST}}</h1>
<h1 ng-if="sharedAlbums" id="albumList">{{translations.SHAREDALBUMS}}</h1>

<div class="centered">
    <ul class="album-thumbs">
        <li ng-repeat="album in albumList" class="card">
            <div class="card__side card__side--front">
                <figure>
                    <div class="album-image-container">
                        <div class="album-overlay">&nbsp;</div>
                        <img ng-src="{{album.coverImage}}" id="{{album._id}}" ng-click="viewAlbum(album)" />
                    </div>
                    <div class="album-card-heading">
                        <span class="album-heading-span">{{album.name}}</span>
                    </div>

                </figure>

                <div class="margin-top-md card__bottom">
                    <p><strong>{{album.insects.length}}</strong> insect(s)</p>

                </div>

            </div>
            <div class="card__side card__side--back">
                <div class="card__cta">
                    <div class="card__name">
                        {{album.name}}
                    </div>

                    <button ng-if="!sharedAlbums" type="button" ng-click="viewAlbum(album)"
                        class="button button-blue centered">
                        {{translations.VIEWALBUM}}
                    </button>

                    <button ng-if="sharedAlbums" type="button" ng-click="viewSharedAlbum(album)"
                        class="button button-blue centered">
                        {{translations.VIEWALBUM}}
                    </button>
                    <br>

                    <button type="button" ng-if="!album.shared && !sharedAlbums" ng-click="shareAlbum(album, true)"
                        class="button button-orange centered">
                        {{translations.SHAREALBUM}}
                    </button>
                    <button type="button" ng-if="album.shared && !sharedAlbums" ng-click="shareAlbum(album, false)"
                        class="button button-orange centered">
                        {{translations.UNSHAREALBUM}}
                    </button>
                    <br>
                    <button type="button" ng-click="deleteAlbum(album)" ng-if="!sharedAlbums"
                        class="button button-red centered">
                        {{translations.DELETEALBUM}}
                    </button>
                </div>


            </div>
        </li>
    </ul>

    <div class="container-albumlist-pagination" ng-if="!hidePagination">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
</div>

<div class="container-empty-upload-list" ng-if="albumList.length === 0 && currentUser">
    <p class="start-adding-album">{{translations.NOALBUMFOUND}} <a
            ng-click="startAddingAlbum()">{{translations.HERE}}</a></p>
</div>