<h1 id="browseObservationHeader"> {{translations.BROWSEOBSERVATIONS}}</h1>
<form ng-submit='searchObservations(query)'>
	<div class="flex-center">
		<ul id="flex-table" class="flex-table">
			<li>
				<h3>{{translations.PLACESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.COUNTRY}}(*):

			</li>
			<li>
				<select name="country" ng-model="query.country" required>
					<option value=""></option>
					<option value="{{translations.FINLAND}}">{{translations.FINLAND}} </option>
					<option value="{{translations.SWEDEN}}">{{translations.SWEDEN}} </option>
					<option value="{{translations.NORWAY}}">{{translations.NORWAY}} </option>
					<option value="{{translations.DENMARK}}">{{translations.DENMARK}} </option>
					<option value="{{translations.GERMANY}}">{{translations.GERMANY}} </option>
					<option value="{{translations.FRANCE}}">{{translations.FRANCE}} </option>
					<option value="{{translations.RUSSIA}}">{{translations.RUSSIA}} </option>
					<option value="{{translations.ITALY}}">{{translations.ITALY}} </option>
					<option value="{{translations.SPAIN}}">{{translations.SPAIN}} </option>
					<option value="{{translations.GREECE}}">{{translations.GREECE}} </option>
					<option value="{{translations.CYPRYS}}">{{translations.CYPRYS}} </option>
					<option value="{{translations.BELGIUM}}">{{translations.BELGIUM}} </option>
					<option value="{{translations.UNITEDKINGDOM}}">{{translations.UNITEDKINGDOM}} </option>
					<option value="{{translations.SCOTLAND}}">{{translations.SCOTLAND}} </option>
					<option value="{{translations.IRELAND}}">{{translations.IRELAND}} </option>
					<option value="{{translations.ICELAND}}">{{translations.ICELAND}} </option>
					<option value="{{translations.NETHERLAND}}">{{translations.NETHERLAND}} </option>
					<option value="{{translations.UKRAINE}}">{{translations.UKRAINE}} </option>
					<option value="{{translations.HUNGARY}}">{{translations.HUNGARY}} </option>
					<option value="{{translations.SERBIA}}">{{translations.SERBIA}} </option>
					<option value="{{translations.ROMANIA}}">{{translations.ROMANIA}} </option>
					<option value="{{translations.PORTUGAL}}">{{translations.PORTUGAL}} </option>
					<option value="{{translations.POLAND}}">{{translations.POLAND}} </option>
					<option value="{{translations.LIETHUA}}">{{translations.LIETHUA}} </option>
					<option value="{{translations.LATVIA}}">{{translations.LATVIA}} </option>
					<option value="{{translations.BELARUS}}">{{translations.BELARUS}} </option>
					<option value="{{translations.CHINA}}">{{translations.CHINA}} </option>
					<option value="{{translations.INDIA}}">{{translations.INDIA}} </option>
					<option value="{{translations.PAKISTAN}}">{{translations.PAKISTAN}} </option>
					<option value="{{translations.KAZAKSTAN}}">{{translations.KAZAKSTAN}} </option>
					<option value="{{translations.THAILAND}}">{{translations.THAILAND}} </option>
					<option value="{{translations.SOUTHKOREA}}">{{translations.SOUTHKOREA}} </option>
					<option value="{{translations.NORTHKOREA}}">{{translations.NORTHKOREA}} </option>
					<option value="{{translations.PAPUAGUINEA}}">{{translations.PAPUAGUINEA}} </option>
					<option value="{{translations.NEWZEALAND}}">{{translations.NEWZEALAND}} </option>
					<option value="{{translations.INDONESIA}}">{{translations.INDONESIA}} </option>

					<option value="{{translations.LAOS}}">{{translations.LAOS}} </option>
					<option value="{{translations.VIETNAM}}">{{translations.VIETNAM}} </option>
					<option value="{{translations.BRUNEI}}">{{translations.BRUNEI}} </option>
					<option value="{{translations.MALESIA}}">{{translations.MALESIA}} </option>
					<option value="{{translations.MYANMAR}}">{{translations.MYANMAR}} </option>
					<option value="{{translations.SINGAPORE}}">{{translations.SINGAPORE}} </option>
					<option value="{{translations.AFGANISTAN}}">{{translations.AFGANISTAN}} </option>
					<option value="{{translations.BANGLADESH}}">{{translations.BANGLADESH}} </option>
					<option value="{{translations.BHUTAN}}">{{translations.BHUTAN}} </option>
					<option value="{{translations.MALEDIVE}}">{{translations.MALEDIVE}} </option>
					<option value="{{translations.NEPAL}}">{{translations.NEPAL}} </option>
					<option value="{{translations.INDONESIA}}">{{translations.INDONESIA}} </option>
					<option value="{{translations.SRILANKA}}">{{translations.SRILANKA}} </option>
					<option value="{{translations.AZERBAIDZAN}}">{{translations.AZERBAIDZAN}} </option>
					<option value="{{translations.BAHRAIN}}">{{translations.BAHRAIN}} </option>
					<option value="{{translations.YEMEN}}">{{translations.YEMEN}} </option>
					<option value="{{translations.LIBANON}}">{{translations.LIBANON}} </option>
					<option value="{{translations.OMAN}}">{{translations.OMAN}} </option>
					<option value="{{translations.QATAR}}">{{translations.QATAR}} </option>
					<option value="{{translations.TURKEY}}">{{translations.TURKEY}} </option>
					<option value="{{translations.INDONESIA}}">{{translations.INDONESIA}} </option>
					<option value="{{translations.JORDANIA}}">{{translations.JORDANIA}} </option>
					<option value="{{translations.GEORGIA}}">{{translations.GEORGIA}} </option>
					<option value="{{translations.UZBEKISTAN}}">{{translations.UZBEKISTAN}} </option>
					<option value="{{translations.TURKEMISTAN}}">{{translations.TURKEMISTAN}} </option>
					<option value="{{translations.TADZIKISTAN}}">{{translations.TADZIKISTAN}} </option>

					<option value="{{translations.CANADA}}">{{translations.CANADA}} </option>
					<option value="{{translations.USA}}">{{translations.USA}} </option>
					<option value="{{translations.MEXICO}}">{{translations.MEXICO}} </option>
					<option value="{{translations.JAMAICA}}">{{translations.JAMAICA}} </option>
					<option value="{{translations.CUBA}}">{{translations.CUBA}} </option>
					<option value="{{translations.PANAMA}}">{{translations.PANAMA}} </option>
					<option value="{{translations.COSTARICA}}">{{translations.COSTARICA}} </option>
					<option value="{{translations.ECUADOR}}">{{translations.ECUADOR}} </option>
					<option value="{{translations.BRAZIL}}">{{translations.BRAZIL}} </option>
					<option value="{{translations.PERU}}">{{translations.PERU}} </option>
					<option value="{{translations.CHILE}}">{{translations.CHILE}} </option>
					<option value="{{translations.BOLIVIA}}">{{translations.BOLIVIA}} </option>
					<option value="{{translations.COLUMBIA}}">{{translations.COLUMBIA}} </option>
					<option value="{{translations.ISRAEL}}">{{translations.ISRAEL}} </option>
					<option value="{{translations.SYRIA}}">{{translations.SYRIA}} </option>
					<option value="{{translations.SAUDIARABIA}}">{{translations.SAUDIARABIA}} </option>
					<option value="{{translations.BELARUS}}">{{translations.BELARUS}} </option>
					<option value="{{translations.EGYPT}}">{{translations.EGYPT}} </option>
					<option value="{{translations.TUNISIA}}">{{translations.TUNISIA}} </option>
					<option value="{{translations.SUDAN}}">{{translations.SUDAN}} </option>
					<option value="{{translations.SWITERLAND}}">{{translations.SWITZERLAND}} </option>
					<option value="{{translations.IRAN}}">{{translations.IRAN}} </option>
					<option value="{{translations.VENEZUALA}}">{{translations.VENEZUALA}} </option>

					<option value="{{translations.ARGENTIINA}}">{{translations.ARGENTIINA}} </option>
					<option value="{{translations.MEXICO}}">{{translations.MACEDONIA}} </option>
					<option value="{{translations.ARMENIA}}">{{translations.ARMENIA}} </option>
					<option value="{{translations.SUDAN}}">{{translations.SUDAN}} </option>
					<option value="{{translations.GHANA}}">{{translations.GHANA}} </option>
					<option value="{{translations.DEMOCRATICREPUPUBLICOFCONGO}}">
						{{translations.DEMOCRATICREPUPUBLICOFCONGO}} </option>
					<option value="{{translations.REPUBLICOFCONGO}}">{{translations.REPUBLICOFCONGO}} </option>
					<option value="{{translations.ALGERIA}}">{{translations.ALGERIA}} </option>
					<option value="{{translations.ZIMBABWE}}">{{translations.ZIMBABWE}} </option>
					<option value="{{translations.SOUTHAFRICA}}">{{translations.SOUTHAFRICA}} </option>
					<option value="{{translations.MAURITANIA}}">{{translations.MAURITANIA}} </option>
					<option value="{{translations.ANGOLA}}">{{translations.ANGOLA}} </option>
					<option value="{{translations.ETHIOPIA}}">{{translations.ETHIOPIA}} </option>
					<option value="{{translations.TANZANIA}}">{{translations.TANZANIA}} </option>
					<option value="{{translations.RWANDA}}">{{translations.RWANDA}} </option>
					<option value="{{translations.ERITREA}}">{{translations.ERITREA}} </option>
					<option value="{{translations.ZAMBIA}}">{{translations.ZAMBIA}} </option>
					<option value="{{translations.LIBYA}}">{{translations.LIBYA}} </option>
					<option value="{{translations.DIJIBOUTI}}">{{translations.DIJIBOUTI}} </option>

					<option value="{{translations.COMOROS}}">{{translations.COMOROS}} </option>
					<option value="{{translations.MALAWI}}">{{translations.MALAWI}} </option>
					<option value="{{translations.SEYCHELLES}}">{{translations.SEYCHELLES}} </option>
					<option value="{{translations.CHAD}}">{{translations.CHAD}} </option>
					<option value="{{translations.LESOTHO}}">{{translations.LESOTHO}} </option>
					<option value="{{translations.BENIN}}">{{translations.BENIN}} </option>
					<option value="{{translations.IVORYCOAST}}">{{translations.IVORYCOAST}} </option>
					<option value="{{translations.LIBERIA}}">{{translations.LIBERIA}} </option>
					<option value="{{translations.MALI}}">{{translations.MALI}} </option>
					<option value="{{translations.SENEGAL}}">{{translations.SENEGAL}} </option>
					<option value="{{translations.TOG}}">{{translations.TOGO}} </option>
					<option value="{{translations.GUINEABISSEAU}}">{{translations.GUINEABISSEAU}} </option>
					<option value="{{translations.SIERRALEONE}}">{{translations.SIERRALEONE}} </option>
					<option value="{{translations.NIGER}}">{{translations.NIGER}} </option>
				</select>
			</li>

			<li>
				{{translations.LOCATION}}:
			</li>
			<li>
				<select name="country" ng-model="query.location">
					<option value=""></option>
					<option value="{{translations.NORTH}}">{{translations.NORTH}}</option>
					<option value="{{translations.NORTHEAST}}">{{translations.NORTHEAST}}</option>
					<option value="{{translations.EAST}}">{{translations.EAST}}</option>
					<option value="{{translations.EASTSOUTH}}">{{translations.EASTSOUTH}}</option>
					<option value="{{translations.SOUTH}}">{{translations.SOUTH}}</option>
					<option value="{{translations.SOUTHWEST}}">{{translations.SOUTHWEST}}</option>
					<option value="{{translations.WEST}}">{{translations.WEST}}</option>
					<option value="{{translations.NORTHWEST}}">{{translations.NORTHWEST}}</option>
					<option value="{{translations.MIDDLE}}">{{translations.MIDDLE}}</option>
				</select>
			</li>
			<li>
				{{translations.PLACE}}:

			</li>
			<li>
				<input type="text" ng-model="query.place" />
			</li>
			<li>
				{{translations.PLACETYPE}}:
			</li>
			<li>

				<input class="input--sm" type="radio" id="noFarmType" value="{{translations.NO}}" name="typeselection"
					ng-click="showByType('0')" checked=true /> {{translations.NO}}
				<input class="input--sm" type="radio" id="byFarmType" value="{{translations.YES}}" name="typeselection"
					ng-click="showByType('1')" /> {{translations.YES}}

				<div ng-switch="typeSelection">
					<div ng-switch-when="byType">
						<input class="input--sm" type="radio" id="nofarm" name="farmtype"
							value="{{translations.NOFARM}}" ng-model="query.nofarm" checked=true />
						{{translations.NOFARM}}
						<input class="input--sm" type="radio" id="organicFarm" name="farmtype"
							value="{{translations.ORGANICFARM}}" ng-model="query.organicFarm">
						{{translations.ORGANICFARM}}
						<input class="input--sm" type="radio" id="nonOrganicFarm" name="farmtype"
							value="{{translations.NONORGANICFARM}}" ng-model="query.nonOrganicFarm" />
						{{translations.NONORGANICFARM}}

					</div>
				</div>

			</li>

			<li>
				<h3>{{translations.TIMESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.STARTDATE}}(*):
			</li>
			<li>
				<input ng-click="ds_sh_search('startDate')" id="startDate" name="startdate" style="cursor: text"
					ng-model="query.startDate" ng-required="dateRequired.startDate" />
				<!-- ng-required="dateRequired.startDate"/>-->
			</li>
			<li>
				{{translations.ENDDATE}}(*):
			</li>
			<li>
				<input ng-click="ds_sh_search('endDate')" id="endDate" name="enddate" style="cursor: text"
					ng-model="query.endDate" ng-required="dateRequired.endDate" />
				<!-- ng-required="dateRequired.endDate"/>-->
			</li>

			<li>
				<h3>{{translations.INSECTSPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.SEARCH}}:
			</li>
			<li>
				<input class="input--sm" type="radio" id="byCategory" value="{{translations.CATEGORY}}"
					name="insectsearchselection" ng-click="toggleInsectSearch('0')" /> {{translations.CATEGORY}}
				<input class="input--sm" type="radio" id="byName" value="{{translations.NAME}}"
					name="insectsearchselection" ng-click="toggleInsectSearch('1')" /> {{translations.NAME}}

				<div ng-switch="insectSearchSelection">

					<div ng-switch-when="byCategory">
						<select name="category" ng-model="query.category">
							<option value=""></option>
							<option value="Ant">{{translations.ANT}}</option>
							<option value="Bee">{{translations.BEE}}</option>
							<option value="Beetle">{{translations.BEETLE}}</option>
							<option value="Butterfly">{{translations.BUTTERFLY}}</option>
							<option value="Centipede">{{translations.CENTIPEDE}}</option>
							<option value="Spider">{{translations.SPIDER}}</option>
						</select>
					</div>

					<div ng-switch-when="byName">
						{{translations.NAME}}: (*) <input type="text" ng-model="query.name" required />
						<br>

						{{translations.LANGUAGE}}: (*)

						<select name="language" ng-model="query.language" required>
							<option value=""></option>
							<option value="Latin">{{translations.LATIN}}</option>
							<option value="EN">{{translations.ENGLISH}}</option>
							<option value="FI">{{translations.FINNISH}}</option>
						</select>

					</div>
				</div>
			</li>
			</li>

		</ul>
	</div>

	<br>
	<br>
	<div class="centered">
		<button type="submit" name="search" ng-disabled="disableSearch"
			class="button button-green centered">{{translations.SEARCH}}</button>
		<div class="lds-center">
			<div class="lds-spinner spinner-loading" id="spinner-search">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

</form>
<!-- 
place specific:
location
country
place
farm | farmtype

insect specific:
category
name | language

time specific:
date

history:

date | insectname | category
-->

<p id="searchResults" ng-model="searchResults" value={{searchResults}}></p>
<div ng-switch="searchResults">
	<div ng-switch-when="noResults" id="noResults">
		<h2>{{translations.NORESULTS}}</h2>
	</div>
	<div ng-switch-when="showResults" id="showResults">
		<br>
		<h2>{{translations.RESULTS}}</h2>
		<br>
		<br>
		<div class="tables">
			<!-- table for smaller screens -->
			<table role="table" class="table-observation--sm table-observation--small">
				<thead role="rowgroup" class="thead-observation--sm">
					<tr role="row" class="observation-row--sm">
						<th class="th-observation--sm" role="columnheader">{{translations.LATINNAME}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.DATE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNT}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNTRY}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.LOCATION}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.PLACE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.FARMTYPE}}</th>
					</tr>
				</thead>
				<tbody class="tbody-observation--sm" role="rowgroup">
					<tr role="row" ng-repeat="observation in observations" class="observation-row--sm">
						<td role="cell" class="cell-observation--sm">{{observation.latinName}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.date}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.count}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.country}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.location}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.place}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.farmType}}</td>
					</tr>
				</tbody>

			</table>
			<div class="container-observation">
				<!-- table for medium and larger screens-->
				<table class="table-observation table-observation--md">
					<thead class="thead-observation">
						<tr>
							<th class="th-observation">{{translations.LATINNAME}}</th>
							<th class="th-observation">{{translations.DATE}}</th>
							<th class="th-observation">{{translations.COUNT}}</th>
							<th class="th-observation">{{translations.COUNTRY}}</th>
							<th class="th-observation">{{translations.LOCATION}}</th>
							<th class="th-observation">{{translations.PLACE}}</th>
							<th class="th-observation">{{translations.FARMTYPE}}</th>

						</tr>
					</thead>
					<tbody class="observation-table-body">
						<tr ng-repeat="observation in observations" class="observation-row">
							<td class="cell-observation">{{observation.latinName}}</td>
							<td class="cell-observation">{{observation.date}}</td>
							<td class="cell-observation">{{observation.count}}</td>
							<td class="cell-observation">{{observation.country}}</td>
							<td class="cell-observation">{{observation.location}}</td>
							<td class="cell-observation">{{observation.place}}</td>
							<td class="cell-observation">{{observation.farmType}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <ul id="flex-table-7-col" class="flex-table">
				<li class="heading"> <b>{{translations.LATINNAME}}</b> </li>
				<li class="heading"> <b>{{translations.DATE}}</b> </li>
				<li class="heading"> <b>{{translations.COUNT}}</b> </li>
				<li class="heading"> <b>{{translations.COUNTRY}}</b> </li>
				<li class="heading"> <b>{{translations.LOCATION}}</b> </li>
				<li class="heading"> <b>{{translations.PLACE}}</b> </li>
				<li class="heading"> <b>{{translations.FARMTYPE}}</b> </li>

			</ul>
			<ul ng-repeat="observation in observations" name="table-data" id="flex-table-7-col"
				class="flex-table table-data">
				<li> {{observation.latinName}}</li>
				<li> {{observation.date}}</li>
				<li> {{observation.count}}</li>
				<li> {{observation.country}}</li>
				<li> {{observation.location}}</li>
				<li> {{observation.place}}</li>
				<li> {{observation.farmType}}</li>

			</ul> -->

	</div>
</div>