<h1 id="browseObservationHeader"> {{translations.BROWSEOBSERVATIONS}}</h1>
<form ng-submit='searchObservations(query)'>
	<div class="flex-center">
		<ul id="flex-table" class="flex-table">
			<li>
				<h3>{{translations.PLACESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.COUNTRY}}(*):

			</li>
			<li>
				<select name="country" ng-model="query.country" required>
					<option value=""></option>
					<option value="FINLAND">{{translations.FINLAND}} </option>
					<option value="SWEDEN">{{translations.SWEDEN}} </option>
					<option value="NORWAY">{{translations.NORWAY}} </option>
					<option value="DENMARK">{{translations.DENMARK}} </option>
					<option value="GERMANY">{{translations.GERMANY}} </option>
					<option value="FRANCE">{{translations.FRANCE}} </option>
					<option value="RUSSIA">{{translations.RUSSIA}} </option>
					<option value="ITALY">{{translations.ITALY}} </option>
					<option value="SPAIN">{{translations.SPAIN}} </option>
					<option value="GREECE">{{translations.GREECE}} </option>
					<option value="CYPRYS">{{translations.CYPRYS}} </option>
					<option value="BELGIUM">{{translations.BELGIUM}} </option>
					<option value="UNITEDKINGDOM">{{translations.UNITEDKINGDOM}}
					</option>
					<option value="SCOTLAND">{{translations.SCOTLAND}} </option>
					<option value="IRELAND">{{translations.IRELAND}} </option>
					<option value="ICELAND">{{translations.ICELAND}} </option>
					<option value="NETHERLAND">{{translations.NETHERLAND}}
					</option>
					<option value="UKRAINE">{{translations.UKRAINE}} </option>
					<option value="HUNGARY">{{translations.HUNGARY}} </option>
					<option value="SERBIA">{{translations.SERBIA}} </option>
					<option value="ROMANIA">{{translations.ROMANIA}} </option>
					<option value="PORTUGAL">{{translations.PORTUGAL}} </option>
					<option value="POLAND">{{translations.POLAND}} </option>
					<option value="LIETHUA">{{translations.LIETHUA}} </option>
					<option value="LATVIA">{{translations.LATVIA}} </option>
					<option value="BELARUS">{{translations.BELARUS}} </option>
					<option value="CHINA">{{translations.CHINA}} </option>
					<option value="INDIA">{{translations.INDIA}} </option>
					<option value="PAKISTAN">{{translations.PAKISTAN}} </option>
					<option value="KAZAKSTAN">{{translations.KAZAKSTAN}} </option>
					<option value="THAILAND">{{translations.THAILAND}} </option>
					<option value="SOUTHKOREA">{{translations.SOUTHKOREA}}
					</option>
					<option value="NORTHKOREA">{{translations.NORTHKOREA}}
					</option>
					<option value="PAPUAGUINEA">{{translations.PAPUAGUINEA}}
					</option>
					<option value="NEWZEALAND">{{translations.NEWZEALAND}}
					</option>
					<option value="INDONESIA">{{translations.INDONESIA}} </option>

					<option value="LAOS">{{translations.LAOS}} </option>
					<option value="VIETNAM">{{translations.VIETNAM}} </option>
					<option value="BRUNEI">{{translations.BRUNEI}} </option>
					<option value="MALESIA">{{translations.MALESIA}} </option>
					<option value="MYANMAR">{{translations.MYANMAR}} </option>
					<option value="SINGAPORE">{{translations.SINGAPORE}} </option>
					<option value="AFGANISTAN">{{translations.AFGANISTAN}}
					</option>
					<option value="BANGLADESH">{{translations.BANGLADESH}}
					</option>
					<option value="BHUTAN">{{translations.BHUTAN}} </option>
					<option value="MALEDIVE">{{translations.MALEDIVE}} </option>
					<option value="NEPAL">{{translations.NEPAL}} </option>
					<option value="INDONESIA">{{translations.INDONESIA}} </option>
					<option value="SRILANKA">{{translations.SRILANKA}} </option>
					<option value="AZERBAIDZAN">{{translations.AZERBAIDZAN}}
					</option>
					<option value="BAHRAIN">{{translations.BAHRAIN}} </option>
					<option value="YEMEN">{{translations.YEMEN}} </option>
					<option value="LIBANON">{{translations.LIBANON}} </option>
					<option value="OMAN">{{translations.OMAN}} </option>
					<option value="QATAR">{{translations.QATAR}} </option>
					<option value="TURKEY">{{translations.TURKEY}} </option>
					<option value="INDONESIA">{{translations.INDONESIA}} </option>
					<option value="JORDANIA">{{translations.JORDANIA}} </option>
					<option value="GEORGIA">{{translations.GEORGIA}} </option>
					<option value="UZBEKISTAN">{{translations.UZBEKISTAN}}
					</option>
					<option value="TURKEMISTAN">{{translations.TURKEMISTAN}}
					</option>
					<option value="TADZIKISTAN">{{translations.TADZIKISTAN}}
					</option>

					<option value="CANADA">{{translations.CANADA}} </option>
					<option value="USA">{{translations.USA}} </option>
					<option value="MEXICO">{{translations.MEXICO}} </option>
					<option value="JAMAICA">{{translations.JAMAICA}} </option>
					<option value="CUBA">{{translations.CUBA}} </option>
					<option value="PANAMA">{{translations.PANAMA}} </option>
					<option value="COSTARICA">{{translations.COSTARICA}} </option>
					<option value="ECUADOR">{{translations.ECUADOR}} </option>
					<option value="BRAZIL">{{translations.BRAZIL}} </option>
					<option value="PERU">{{translations.PERU}} </option>
					<option value="CHILE">{{translations.CHILE}} </option>
					<option value="BOLIVIA">{{translations.BOLIVIA}} </option>
					<option value="COLUMBIA">{{translations.COLUMBIA}} </option>
					<option value="ISRAEL">{{translations.ISRAEL}} </option>
					<option value="SYRIA">{{translations.SYRIA}} </option>
					<option value="SAUDIARABIA">{{translations.SAUDIARABIA}}
					</option>
					<option value="BELARUS">{{translations.BELARUS}} </option>
					<option value="EGYPT">{{translations.EGYPT}} </option>
					<option value="TUNISIA">{{translations.TUNISIA}} </option>
					<option value="SUDAN">{{translations.SUDAN}} </option>
					<option value="SWITERLAND">{{translations.SWITZERLAND}}
					</option>
					<option value="IRAN">{{translations.IRAN}} </option>
					<option value="VENEZUALA">{{translations.VENEZUALA}} </option>

					<option value="ARGENTIINA">{{translations.ARGENTIINA}}
					</option>
					<option value="MEXICO">{{translations.MACEDONIA}} </option>
					<option value="ARMENIA">{{translations.ARMENIA}} </option>
					<option value="SUDAN">{{translations.SUDAN}} </option>
					<option value="GHANA">{{translations.GHANA}} </option>
					<option value="DEMOCRATICREPUPUBLICOFCONGO">
						{{translations.DEMOCRATICREPUPUBLICOFCONGO}} </option>
					<option value="REPUBLICOFCONGO">
						{{translations.REPUBLICOFCONGO}}
					</option>
					<option value="ALGERIA">{{translations.ALGERIA}} </option>
					<option value="ZIMBABWE">{{translations.ZIMBABWE}} </option>
					<option value="SOUTHAFRICA">{{translations.SOUTHAFRICA}}
					</option>
					<option value="MAURITANIA">{{translations.MAURITANIA}}
					</option>
					<option value="ANGOLA">{{translations.ANGOLA}} </option>
					<option value="ETHIOPIA">{{translations.ETHIOPIA}} </option>
					<option value="TANZANIA">{{translations.TANZANIA}} </option>
					<option value="RWANDA">{{translations.RWANDA}} </option>
					<option value="ERITREA">{{translations.ERITREA}} </option>
					<option value="ZAMBIA">{{translations.ZAMBIA}} </option>
					<option value="LIBYA">{{translations.LIBYA}} </option>
					<option value="DIJIBOUTI">{{translations.DIJIBOUTI}} </option>

					<option value="COMOROS">{{translations.COMOROS}} </option>
					<option value="MALAWI">{{translations.MALAWI}} </option>
					<option value="SEYCHELLES">{{translations.SEYCHELLES}}
					</option>
					<option value="CHAD">{{translations.CHAD}} </option>
					<option value="LESOTHO">{{translations.LESOTHO}} </option>
					<option value="BENIN">{{translations.BENIN}} </option>
					<option value="IVORYCOAST">{{translations.IVORYCOAST}}
					</option>
					<option value="LIBERIA">{{translations.LIBERIA}} </option>
					<option value="MALI">{{translations.MALI}} </option>
					<option value="SENEGAL">{{translations.SENEGAL}} </option>
					<option value="TOG">{{translations.TOGO}} </option>
					<option value="GUINEABISSEAU">{{translations.GUINEABISSEAU}}
					</option>
					<option value="SIERRALEONE">{{translations.SIERRALEONE}}
					</option>
					<option value="NIGER">{{translations.NIGER}} </option>
				</select>
			</li>

			<li>
				{{translations.LOCATION}}:
			</li>
			<li>
				<select name="countryPart" ng-model="query.countryPart">
					<option value=""></option>
					<option value="NORTH">{{translations.NORTH}}</option>
					<option value="NORTHEAST">{{translations.NORTHEAST}}</option>
					<option value="EAST">{{translations.EAST}}</option>
					<option value="EASTSOUTH">{{translations.EASTSOUTH}}</option>
					<option value="SOUTH">{{translations.SOUTH}}</option>
					<option value="SOUTHWEST">{{translations.SOUTHWEST}}</option>
					<option value="WEST">{{translations.WEST}}</option>
					<option value="NORTHWEST">{{translations.NORTHWEST}}</option>
					<option value="MIDDLE">{{translations.MIDDLE}}</option>
				</select>
			</li>
			<li>
				{{translations.PLACE}}:

			</li>
			<li>
				<input type="text" ng-model="query.place" />
			</li>
			<li>
				{{translations.PLACETYPE}}:
			</li>
			<li>

				<input class="input--sm" type="radio" id="noFarmType" value="{{translations.NO}}" name="typeselection"
					ng-click="showByType('0')" checked=true /> {{translations.NO}}
				<input class="input--sm" type="radio" id="byFarmType" value="{{translations.YES}}" name="typeselection"
					ng-click="showByType('1')" /> {{translations.YES}}

				<div ng-switch="typeSelection">
					<div ng-switch-when="byType">
						<input class="input--sm" type="radio" id="nofarm" name="farmtype"
							value="{{translations.NOFARM}}" ng-model="query.nofarm" checked=true />
						{{translations.NOFARM}}
						<input class="input--sm" type="radio" id="organicFarm" name="farmtype"
							value="{{translations.ORGANICFARM}}" ng-model="query.organicFarm">
						{{translations.ORGANICFARM}}
						<input class="input--sm" type="radio" id="nonOrganicFarm" name="farmtype"
							value="{{translations.NONORGANICFARM}}" ng-model="query.nonOrganicFarm" />
						{{translations.NONORGANICFARM}}

					</div>
				</div>

			</li>

			<li>
				<h3>{{translations.TIMESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.STARTDATE}}(*):
			</li>
			<li>
				<input ng-click="ds_sh_search('startDate')" id="startDate" name="startdate" style="cursor: text"
					ng-model="query.startDate" ng-required="dateRequired.startDate" />
				<!-- ng-required="dateRequired.startDate"/>-->
			</li>
			<li>
				{{translations.ENDDATE}}(*):
			</li>
			<li>
				<input ng-click="ds_sh_search('endDate')" id="endDate" name="enddate" style="cursor: text"
					ng-model="query.endDate" ng-required="dateRequired.endDate" />
				<!-- ng-required="dateRequired.endDate"/>-->
			</li>

			<li>
				<h3>{{translations.INSECTSPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.SEARCH}}:
			</li>
			<li>
				<input class="input--sm" type="radio" id="byCategory" value="{{translations.CATEGORY}}"
					name="insectsearchselection" ng-click="toggleInsectSearch('0')" /> {{translations.CATEGORY}}
				<input class="input--sm" type="radio" id="byName" value="{{translations.NAME}}"
					name="insectsearchselection" ng-click="toggleInsectSearch('1')" /> {{translations.NAME}}

				<div ng-switch="insectSearchSelection">

					<div ng-switch-when="byCategory">
						<select name="category" ng-model="query.category">
							<option value=""></option>
							<option value="Ant">{{translations.ANT}}</option>
							<option value="Bee">{{translations.BEE}}</option>
							<option value="Beetle">{{translations.BEETLE}}</option>
							<option value="Butterfly">{{translations.BUTTERFLY}}</option>
							<option value="Centipede">{{translations.CENTIPEDE}}</option>
							<option value="Spider">{{translations.SPIDER}}</option>
						</select>
					</div>

					<div ng-switch-when="byName">
						{{translations.NAME}}: (*) <input type="text" ng-model="query.name" required />
						<br>

						{{translations.LANGUAGE}}: (*)

						<select name="language" ng-model="query.language" required>
							<option value=""></option>
							<option value="Latin">{{translations.LATIN}}</option>
							<option value="en">{{translations.ENGLISH}}</option>
							<option value="fi">{{translations.FINNISH}}</option>
						</select>

					</div>
				</div>
			</li>
			</li>

		</ul>
	</div>

	<br>
	<br>
	<div class="centered">
		<button type="submit" name="search" ng-disabled="disableSearch"
			class="button button-green centered">{{translations.SEARCH}}</button>
		<div class="lds-center">
			<div class="lds-spinner spinner-loading" id="spinner-search">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

</form>
<!-- 
place specific:
location
country
place
farm | farmtype

insect specific:
category
name | language

time specific:
date

history:

date | insectname | category
-->

<p id="searchResults" ng-model="searchResults" value={{searchResults}}></p>
<div ng-switch="searchResults">
	<div ng-switch-when="noResults" id="noResults">
		<h2>{{translations.NORESULTS}}</h2>
	</div>
	<div ng-switch-when="showResults" id="showResults">
		<br>
		<h2>{{translations.RESULTS}}</h2>
		<br>
		<br>
		<div class="tables">
			<!-- table for smaller screens -->
			<table role="table" class="table-observation--sm table-observation--small">
				<thead role="rowgroup" class="thead-observation--sm">
					<tr role="row" class="observation-row--sm">
						<th class="th-observation--sm" role="columnheader">{{translations.LATINNAME}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.DATE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNT}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNTRY}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.LOCATION}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.PLACE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.FARMTYPE}}</th>
					</tr>
				</thead>
				<tbody class="tbody-observation--sm" role="rowgroup">
					<tr role="row" ng-repeat="observation in observations" class="observation-row--sm">
						<td role="cell" class="cell-observation--sm">{{observation.insect.latinName}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.date}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.count}}</td>
						<td role="cell" class="cell-observation--sm">{{translations[observation.country]}}</td>
						<td role="cell" class="cell-observation--sm">{{translations[observation.countryPart]}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.place}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.farmType}}</td>
					</tr>
				</tbody>

			</table>
			<div class="container-observation">
				<!-- table for medium and larger screens-->
				<table class="table-observation table-observation--md">
					<thead class="thead-observation">
						<tr>
							<th class="th-observation">{{translations.LATINNAME}}</th>
							<th class="th-observation">{{translations.DATE}}</th>
							<th class="th-observation">{{translations.COUNT}}</th>
							<th class="th-observation">{{translations.COUNTRY}}</th>
							<th class="th-observation">{{translations.LOCATION}}</th>
							<th class="th-observation">{{translations.PLACE}}</th>
							<th class="th-observation">{{translations.FARMTYPE}}</th>

						</tr>
					</thead>
					<tbody class="observation-table-body">
						<tr ng-repeat="observation in observations" class="observation-row">
							<td class="cell-observation">{{observation.insect.latinName}}</td>
							<td class="cell-observation">{{observation.date}}</td>
							<td class="cell-observation">{{observation.count}}</td>
							<td class="cell-observation">{{translations[observation.country]}}</td>
							<td class="cell-observation">{{translations[observation.countryPart]}}</td>
							<td class="cell-observation">{{observation.place}}</td>
							<td class="cell-observation">{{observation.farmType}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>