<h1 id="browseObservationHeader"> {{translations.BROWSEOBSERVATIONS}}</h1>
<form ng-submit='searchObservations(query)'>
	<div class="flex-center">
		<ul id="flex-table" class="flex-table">
			<li>
				<h3>{{translations.PLACESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.COUNTRY}}:

			</li>
			<li>
				<div class="dropdown-select">
					<div id="dropbtn-select" onclick="toggleDropdownContent()" class="dropbtn-select" tabindex="1">
						<div class="dropbtn-content-select" id="dropbtn-content-select"
							ng-model="query.dropdownCountry">
							{{translations.ALL}}
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-down" fill="none" viewBox="0 0 24 24"
							stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>

					</div>
					<div id="myDropdown" class="dropdown-container">
						<div class="input-container">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24"
								stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
							</svg>
							<input type=" text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
						</div>

						<div class="dropdown-content-select" id="dropdown-content-select">
							<a href="" ng-repeat="country in countries"
								ng-click="updateDropbtnContent(country[0], country[1])">
								{{country[0]}}
							</a>
						</div>

					</div>
				</div>

			</li>

			<li>
				{{translations.LOCATION}}:
			</li>
			<li>
				<select class="form-control-own" name="countryPart" ng-model="query.countryPart">
					<option value=""></option>
					<option value="NORTH">{{translations.NORTH}}</option>
					<option value="NORTHEAST">{{translations.NORTHEAST}}</option>
					<option value="EAST">{{translations.EAST}}</option>
					<option value="EASTSOUTH">{{translations.EASTSOUTH}}</option>
					<option value="SOUTH">{{translations.SOUTH}}</option>
					<option value="SOUTHWEST">{{translations.SOUTHWEST}}</option>
					<option value="WEST">{{translations.WEST}}</option>
					<option value="NORTHWEST">{{translations.NORTHWEST}}</option>
					<option value="MIDDLE">{{translations.MIDDLE}}</option>
				</select>
			</li>
			<li>
				{{translations.PLACE}}:

			</li>
			<li>
				<div class="container-place-type">
					<input class="form-control-own" type="text" ng-model="query.place" />
				</div>
			</li>
			<li>
				{{translations.PLACETYPE}}:
			</li>
			<li>
				<div class="container-place-type row-gap-sm margin-top-place-type">

					<div class="form__radio-group">
						<input type="radio" class="form__radio-input" id="anyType" name="placetype" value="anyType"
							ng-model="query.placeType">
						<label for="anyType" class="form__radio-label">
							<span class="form__radio-button"></span>
							<span class="radio-content">{{translations.ANYTYPE}}</span>
						</label>
					</div>

					<div class="form__radio-group">
						<input type="radio" class="form__radio-input" id="organicFarm" name="placetype"
							value="organicFarm" ng-model="query.placeType">
						<label for="organicFarm" class="form__radio-label">
							<span class="form__radio-button"></span>
							<span class="radio-content">{{translations.ORGANICFARM}}</span>
						</label>
					</div>

					<div class="form__radio-group">
						<input type="radio" class="form__radio-input" id="nonOrganicFarm" name="placetype"
							value="nonOrganicFarm" ng-model="query.placeType">
						<label for="nonOrganicFarm" class="form__radio-label">
							<span class="form__radio-button"></span>
							<span class="radio-content">{{translations.NONORGANICFARM}}</span>
						</label>
					</div>
				</div>
			</li>
			<li>
				<h3>{{translations.TIMESPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.STARTDATE}}(*):
			</li>
			<li>
				<input class="form-control-own" ng-click="ds_sh_search('startDate')" id="startDate" name="startdate"
					style="cursor: text" ng-model="query.startDate" ng-required="dateRequired.startDate" />
				<!-- ng-required="dateRequired.startDate"/>-->
			</li>
			<li>
				{{translations.ENDDATE}}(*):
			</li>
			<li>
				<input class="form-control-own" ng-click="ds_sh_search('endDate')" id="endDate" name="enddate"
					style="cursor: text" ng-model="query.endDate" ng-required="dateRequired.endDate" />
				<!-- ng-required="dateRequired.endDate"/>-->
			</li>

			<li>
				<h3>{{translations.INSECTSPECIFIC}}:</h3>
			</li>
			<li></li>
			<li>
				{{translations.SEARCH}}:
			</li>
			<li>
				<div class="flex-table flex-table-column-gap-sm margin-bottom-md">
					<div class="form__radio-group">
						<input type="radio" class="form__radio-input" id="byCategory" value="category"
							name="insectsearchselection" ng-model="query.insectSearch"
							ng-click="toggleInsectSearch('0')">
						<label for="byCategory" class="form__radio-label">
							<span class="form__radio-button"></span>
							<span class="radio-content">{{translations.CATEGORY}}</span>
						</label>
					</div>
					<div class="form__radio-group">
						<input type="radio" class="form__radio-input" value="name" id="byName"
							name="insectsearchselection" ng-model="query.insectSearch"
							ng-click="toggleInsectSearch('1')">
						<label for="byName" class="form__radio-label">
							<span class="form__radio-button"></span>
							<span class="radio-content">{{translations.NAME}}</span>
						</label>
					</div>
				</div>
				<div ng-switch="insectSearchSelection">

					<div ng-switch-when="byCategory">
						<select name="category" ng-model="query.category">
							<option ng-repeat="category in categories" value="{{category[1]}}">
								{{category[0]}}
							</option>
						</select>
					</div>

					<div class="by-name-container" ng-switch-when="byName">
						<input class="form-control-own" type="text" ng-model="query.name" />
						<br>
					</div>
				</div>
			</li>
			</li>

		</ul>
	</div>

	<br>
	<br>
	<div class="centered">
		<button type="submit" name="search" ng-disabled="disableSearch"
			class="button button-green centered">{{translations.SEARCH}}</button>
		<div class="lds-center">
			<div class="lds-spinner spinner-loading" id="spinner-search">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

</form>
<!-- 
place specific:
location
country
place
farm | farmtype

insect specific:
category
name | language

time specific:
date

history:

date | insectname | category
-->

<p id="searchResults" ng-model="searchResults" value={{searchResults}}></p>
<div ng-switch="searchResults">
	<div ng-switch-when="noResults" id="noResults">
		<h2>{{translations.NORESULTS}}</h2>
	</div>
	<div ng-switch-when="showResults" id="showResults">
		<br>
		<h2>{{translations.RESULTS}}</h2>
		<br>
		<br>
		<div class="tables">
			<!-- table for smaller screens -->
			<table role="table" class="table-observation--sm table-observation--small">
				<thead role="rowgroup" class="thead-observation--sm">
					<tr role="row" class="observation-row--sm">
						<th class="th-observation--sm" role="columnheader">{{translations.NAME}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.DATE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNT}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.COUNTRY}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.LOCATION}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.PLACE}}</th>
						<th class="th-observation--sm" role="columnheader">{{translations.FARMTYPE}}</th>
					</tr>
				</thead>
				<tbody class="tbody-observation--sm" role="rowgroup">
					<tr role="row" ng-repeat="observation in observations" class="observation-row--sm">
						<td role="cell" class="cell-observation--sm">{{observation.name}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.date}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.count}}</td>
						<td role="cell" class="cell-observation--sm">{{translations[observation.country]}}</td>
						<td role="cell" class="cell-observation--sm">{{translations[observation.countryPart]}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.place}}</td>
						<td role="cell" class="cell-observation--sm">{{observation.farmType}}</td>
					</tr>
				</tbody>

			</table>
			<div class="container-observation">
				<!-- table for medium and larger screens-->
				<table class="table-observation table-observation--md">
					<thead class="thead-observation">
						<tr>
							<th class="th-observation">{{translations.NAME}}</th>
							<th class="th-observation">{{translations.DATE}}</th>
							<th class="th-observation">{{translations.COUNT}}</th>
							<th class="th-observation">{{translations.COUNTRY}}</th>
							<th class="th-observation">{{translations.LOCATION}}</th>
							<th class="th-observation">{{translations.PLACE}}</th>
							<th class="th-observation">{{translations.FARMTYPE}}</th>

						</tr>
					</thead>
					<tbody class="observation-table-body">
						<tr ng-repeat="observation in observations" class="observation-row">
							<td class="cell-observation">{{observation.name}}</td>
							<td class="cell-observation">{{observation.date}}</td>
							<td class="cell-observation">{{observation.count}}</td>
							<td class="cell-observation">{{translations[observation.country]}}</td>
							<td class="cell-observation">{{translations[observation.countryPart]}}</td>
							<td class="cell-observation">{{observation.place}}</td>
							<td class="cell-observation">{{observation.farmType}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>