<section class="section-collection">
	<modal id="new-local-items-no-remote-modal" ng-class="{modalActive: newLocalItemsNoRemoteModal == '1'}">
		<div class=" popup">
			<div class="popup__content">
				<div class="popup__center">
					<h1>New Item(s) in the local collection</h1>
					<p>
						Found {{numberOfNewLocalItemsNoRemote}}
						new item(s) in the local collection. Push changes (upload)
						,remove the new local items or take no action (cancel)?
					</p>

					<div class="button-grid button-grid--3">
						<button class="button button-blue"
							ng-click="closeModal('new-local-items-no-remote-modal', 'push')">Push
						</button>
						<button class="button button-red"
							ng-click="closeModal('new-local-items-no-remote-modal', 'remove')">Remove </button>
						<button class="button button-grey"
							ng-click="closeModal('new-local-items-no-remote-modal', 'cancel')">Resolve
							later</button>
					</div>
				</div>
			</div>
			<div class="modal-background-own"></div>
		</div>
	</modal>
	<modal id="new-remote-items-modal" ng-class="{modalActive: newRemoteItemsModal == '1'}">
		<div class="popup">
			<div class="popup__content">
				<div class="popup__center">
					<h1>New remote Item(s)</h1>
					<p>
						Found {{newRemoteInsects.length}}
						new item(s) in the remote collection. Pull changes
						OR remove the new remote items OR resolve changes later (cancel)?"
					</p>
					<div class="button-grid button-grid--3">
						<button class="button button-green" ng-click="closeModal('new-remote-items-modal', 'pull')">Pull
						</button>
						<button class="button button-red"
							ng-click="closeModal('new-remote-items-modal', 'remove')">Remove
						</button>
						<button class="button button-grey"
							ng-click="closeModal('new-remote-items-modal', 'cancel')">Cancel
						</button>
					</div>
				</div>
			</div>
			<div class="modal-background-own"></div>
		</div>
	</modal>
	<modal id="new-local-items-modal" ng-class="{modalActive: newLocalItemsModal == '1'}">
		<div class="popup">
			<div class="popup__content">
				<div class="popup__center">
					<h1>New local Item(s)</h1>
					<p>
						Found {{numberOfNewLocalItems}}
						new item(s) in the local collection. Do you want to add these
						new items to the remote collection
						"OR remove them from local collection OR resolve changes later (cancel)?
					</p>
					<div class="button-grid button-grid--3">
						<button class="button button-green" ng-click="closeModal('new-local-items-modal', 'push')">Add
						</button>
						<button class="button button-red"
							ng-click="closeModal('new-local-items-modal', 'remove')">Remove
						</button>
						<button class="button button-grey"
							ng-click="closeModal('new-local-items-modal', 'cancel')">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-background-own"></div>
		</div>
	</modal>

	<modal id="updated-items-modal" ng-class="{modalActive: updatedItemsModal == '1'}">
		<div class="popup">
			<div class="popup__content">
				<div class="popup__center">
					<h1>Updated item(s) in the remote collection</h1>
					<p>
						Found {{numberOfUpdatedItems}}
						updated item(s) in the remote collection. Update the local collection or resolve changes later
						(Cancel).
					</p>
					<div class="button-grid button-grid--2">
						<button class="button button-green"
							ng-click="closeModal('updated-items-modal', 'update')">Update
						</button>
						<button class="button button-grey" ng-click="closeModal('updated-items-modal', 'cancel')">Cancel
						</button>

					</div>
				</div>
			</div>
			<div class="modal-background-own"></div>
		</div>
	</modal>

	<div class="centered">

		<h5 class="header-sync"
			ng-if="newRemoteInsects.length > 0 || newLocalInsects.length > 0 || conflictObj.length > 0">Changes in
			local
			collection:</h5>
		<div class="sync-container">

			<!--new remote items -->
			<div ng-if="newRemoteInsects.length > 0">
				<h3 style="text-align: center">New remote items:</h3>

				<div class="flex-table flex-table-column-gap-md">
					<div class="new-remote-insect" ng-repeat="newRemoteInsect in newRemoteInsects">
						<div class="thumb-card no-margin-right">
							<div class="margin-top-md" ng-repeat="translation in newRemoteInsect.translations">
								<p class="name-translation" ng-if="translation.language==lang">
									{{translation.name}}
								</p>
							</div>
							<p class="latinname-translation">
								{{newRemoteInsect.latinName}}
							</p>

							<img id="{{newRemoteInsect.images[0]+'_thumb.jpg'}}"
								ng-src="{{newRemoteInsect.images[0]+'_thumb.jpg'}}" />
						</div>
					</div>

				</div>
				<div class="margin-top-lg">
					<form ng-submit="remoteSync(remotePolicy)">
						<div class="container-new-remote-inputs">
							<div class="radio-container flex-column-gap-sm">
								<input class="input--sm" type="radio" id="delete-remote" name="remotepolicygroup"
									value="delete-remote" ng-model="remotePolicy" />
								<label for="delete-remote">Delete from remote collection</label>
							</div>
							<div class="radio-container flex-column-gap-sm">
								<input class="input--sm" type="radio" id="pull-remote" name="remotepolicygroup"
									value="pull-remote" ng-model="remotePolicy" />
								<label for="pull-remote">Pull from remote collection</label>
							</div>
							<button type="submit" class="button button-blue"
								ng-class="{hideRemoteButton: hideRemoteButton}" ng-click="remoteSync()">Synchronize
								remote</button>
						</div>
					</form>
				</div>

				<!--messages new remote items-->
				<div class="container-alert margin-top-lg">
					<div id="messageNewRemoteSuccess" ng-if='messageNewRemoteSuccess != ""'
						class="alert alert-success is-paused fade-out">
						{{messageNewRemoteSuccess}}</div>
				</div>
			</div>


			<!--new local items -->
			<div ng-if="newLocalInsects.length > 0">
				<h3 style="text-align: center">New local items:</h3>

				<div class="flex-table flex-table-column-gap-md">
					<div class="new-local-insect" ng-repeat="newLocalInsect in newLocalInsects">
						<div class="thumb-card no-margin-right">
							<div class="margin-top-md" ng-repeat="translation in newLocalInsect.translations">
								<p class="name-translation" ng-if="translation.language==lang">
									{{translation.name}}
								</p>
							</div>
							<p class="latinname-translation">
								{{newLocalInsect.latinName}}
							</p>

							<img id="{{newLocalInsect.images[0]+'_thumb.jpg'}}"
								ng-src="{{newLocalInsect.images[0]+'_thumb.jpg'}}" />
						</div>
					</div>

				</div>
				<div class="margin-top-lg">
					<form ng-submit="localSync(localPolicy)">
						<div class="container-new-local-inputs">
							<div class="radio-container flex-column-gap-sm">
								<input class="input--sm" type="radio" id="delete-local" name="localpolicygroup"
									value="delete-local" ng-model="localPolicy" />
								<label for="delete-local">Delete from local collection</label>
							</div>
							<div class="radio-container flex-column-gap-sm">

								<input class="input--sm" type="radio" id="push-local" name="localpolicygroup"
									value="push-local" ng-model="localPolicy" />
								<label for="push-local">Push to remote collection</label>
							</div>
							<button type="submit" class="button button-blue"
								ng-class="{hideLocalButton: hideLocalButton}">Synchronize
								local</button>
						</div>
					</form>
				</div>

				<!--messages new remote items-->
				<div class="container-alert margin-top-lg">
					<div id="messageNewLocalSuccess" ng-if='messageNewLocalSuccess != ""'
						class="alert alert-success is-paused fade-out">
						{{messageNewLocalSuccess}}</div>
				</div>
			</div>

			<!-- updated insects-->
			<div class="updated-container" ng-if="conflictObj.length > 0">
				<h3>Updated Insects: </h3>

				<div class="conflict-insects-container" ng-repeat="conflictItem in conflictObj">

					<div class="flex-table flex-table-column-gap-md">

						<div class="outdated-insect">
							<div class="thumb-card no-margin-right">
								<div class="thumb-indicator">
									<strong>Local:</strong>
								</div>
								<div class="margin-top-md"
									ng-repeat="translation in conflictItem.outdatedInsect.translations">
									<p class="name-translation" ng-if="translation.language==lang">
										{{translation.name}}
									</p>
								</div>
								<p class="latinname-translation">
									{{conflictItem.outdatedInsect.latinName}}
								</p>

								<img id="{{conflictItem.outdatedInsect.images[0]+'_thumb.jpg'}}"
									ng-src="{{conflictItem.outdatedInsect.images[0]+'_thumb.jpg'}}" />

							</div>
						</div>

						<div class="updated-insect">
							<div class="thumb-card no-margin-right">
								<div class="thumb-indicator">
									<strong>Remote:</strong>
								</div>
								<div class="margin-top-md"
									ng-repeat="translation in conflictItem.updatedInsect.translations">
									<p class="name-translation" ng-if="translation.language==lang">
										{{translation.name}}
									</p>
								</div>
								<p class="latinname-translation">
									{{conflictItem.updatedInsect.latinName}}
								</p>

								<img id="{{conflictItem.updatedInsect.images[0]+'_thumb.jpg'}}"
									ng-src="{{conflictItem.updatedInsect.images[0]+'_thumb.jpg'}}" />

							</div>
						</div>
					</div>


					<!-- updated images-->

					<div ng-if="conflictItem.changedImages.length > 0">
						<div class="item">
							<input class="accordion" type="checkbox" id="{{conflictItem.updatedInsect._id}}" />
							<label class="inner-container" for="{{conflictItem.updatedInsect._id}}">

								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-exclamation" fill="none"
									viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01" />
								</svg>
								<span class="text">Changed pictures for {{conflictItem.outdatedInsect.latinName}}</span>
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-down" fill="none"
									viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M19 9l-7 7-7-7" />
								</svg>
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-up" fill="none"
									viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M5 15l7-7 7 7" />
								</svg>


							</label>
							<div class="content">
								<div class="conflict-images-container" ng-repeat="image in conflictItem.changedImages">
									<div class="thumb-card no-margin-right">
										<div ng-if="image.added == '0'"
											class="update-image-state update-images-state-gap-md margin-sm">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-red" fill="none"
												viewBox="0 0 24 24" stroke="currentColor">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
													d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
											</svg>
											<span class="deleted-picture">Deleted</span>
										</div>

										<div ng-if="image.added == '1'"
											class="update-image-state update-images-state-gap-md margin-sm">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-green" fill="none"
												viewBox="0 0 24 24" stroke="currentColor">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
													d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
											</svg>
											<span class="new-picture">New</span>
										</div>

										<img id="{{image.url+'_thumb.jpg'}}" ng-src="{{image.url+'_thumb.jpg'}}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<button class="button button-green margin-top-lg" ng-class="{hideUpdateButton: hideUpdateButton}"
						ng-click="updateInsects()">Update all</button>
				</div>

				<!--messages updated insects-->
				<div class="container-alert margin-top-lg">
					<div id="messageUpdate" ng-if='messageUpdate != ""' class="alert alert-success is-paused fade-out">
						{{messageUpdate}}</div>
				</div>
			</div>
		</div>

		<!-- loading spinner-->
		<div class="lds-center">
			<div class="lds-spinner spinner-loading" id="spinner-search">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<!-- main collection -->
		<h1>{{translations.COLLECTIONPAGE}}</h1>

		<div ng-if="!collectionEmpty">
			<input type="checkbox" id="offline" value="{{translations.OFFLINE}}" ng-model="checkbox.offline"
				ng-click="viewOffline()" class="input--sm" />
			<label class="label-offline" for="offline"><strong>{{translations.OFFLINE}}</strong></label>

		</div>

		<div ng-repeat="insects in localStorage.collectionObj.insectsByCategory">

			<div ng-if="insects.length > 0">
				<h3 ng-if="insects[0].category == 'Ant'" id="collection-ant">{{translations.ANT}}:</h3>
				<h3 ng-if="insects[0].category == 'Bee'" id="collection-bee">{{translations.BEE}}:</h3>
				<h3 ng-if="insects[0].category == 'Beetle'" id="collection-beetle">{{translations.BEETLE}}:</h3>
				<h3 ng-if="insects[0].category == 'Butterfly'" id="collecion-butterfly">{{translations.BUTTERFLY}}:
				</h3>
				<h3 ng-if="insects[0].category == 'Centipede'" id="collection-centipede">{{translations.CENTIPEDE}}:
				</h3>
				<h3 ng-if="insects[0].category == 'Spider'" id="collection-spider">{{translations.SPIDER}}:</h3>
				<ul class="insect-thumbs">
					<li ng-repeat="insect in insects">
						<div class="thumb-card">
							<div class="margin-top-md" ng-repeat="translation in insect.translations">
								<p class="name-translation" ng-if="translation.language==lang">
									{{translation.name}}
								</p>
							</div>
							<p class="latinname-translation">
								{{insect.latinName}}
							</p>
							<div style="display:none">
								{{tmp = insect.images[0]+'_thumb.jpg'}}

							</div>
							<img ng-if="!checkbox.offline" id="{{insect.images[0]+'_thumb.jpg'}}"
								ng-src="{{insect.images[0]+'_thumb.jpg'}}" ng-click="viewDetail(insect)" />
							<img ng-if="checkbox.offline" id="{{localStorage[insect.images[0]+'_thumb.jpg']}}"
								ng-src="{{localStorage[insect.images[0]+'_thumb.jpg']}}"
								ng-click="viewDetail(insect)" />
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="collectionEmpty">
			<p class="start-adding-collection-items">{{translations.NOCOLLECTIONITEMS}} <a
					ng-click="startToAddCollectionItems()">{{translations.HERE}}</a></p>
		</div>

	</div>
</section>