<h1>{{translations.COLLECTIONPAGE}}</h1>
<div class="centered">
	<div ng-if="!collectionEmpty">
		<input type="checkbox" id="offline" value="{{translations.OFFLINE}}" ng-model="checkbox.offline"
			ng-click="viewOffline()" class="input--sm" />
		<strong>{{translations.OFFLINE}}</strong>

	</div>
	<div class="lds-center">
		<div class="lds-spinner spinner-loading" id="spinner-search">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div ng-repeat=" insects in localStorage.collectionObj.insectsByCategory">

		<div ng-if="insects.length > 0">
			<h3 ng-if="insects[0].category == 'Ant'" id="collection-ant">{{translations.ANT}}:</h3>
			<h3 ng-if="insects[0].category == 'Bee'" id="collection-bee">{{translations.BEE}}:</h3>
			<h3 ng-if="insects[0].category == 'Beetle'" id="collection-beetle">{{translations.BEETLE}}:</h3>
			<h3 ng-if="insects[0].category == 'Butterfly'" id="collecion-butterfly">{{translations.BUTTERFLY}}:</h3>
			<h3 ng-if="insects[0].category == 'Centipede'" id="collection-centipede">{{translations.CENTIPEDE}}:</h3>
			<h3 ng-if="insects[0].category == 'Spider'" id="collection-spider">{{translations.SPIDER}}:</h3>
			<ul class="insect-thumbs">
				<li ng-repeat="insect in insects">
					<div class="thumb-card">
						<div class="margin-top-md" ng-repeat="translation in insect.translations">
							<p class="name-translation" ng-if="translation.language==lang">
								{{translation.name}}
							</p>
						</div>
						<p class="latinname-translation">
							{{insect.latinName}}
						</p>
						<div style="display:none">
							{{tmp = insect.images[0]+'_thumb.jpg'}}

						</div>
						<img ng-if="!checkbox.offline" id="{{insect.images[0]+'_thumb.jpg'}}"
							ng-src="{{insect.images[0]+'_thumb.jpg'}}" ng-click="viewDetail(insect)" />
						<img ng-if="checkbox.offline" ng-if="!newIncomingRemoteItems"
							id="{{localStorage[insect.images[0]+'_thumb.jpg']}}"
							ng-src="{{localStorage[insect.images[0]+'_thumb.jpg']}}" ng-click="viewDetail(insect)" />
						<!-- new remote images -->
						<!-- <div ng-repeat="image in insect.images" ng-if="newRemoteItems" class="new-remote-images">
							
							<img class="new-remote-image" id="{{localStorage[insect.images[0]+'_thumb.jpg']}}">
							<img />
						</div> -->
				</li>
			</ul>
		</div>
	</div>

	<div ng-if="collectionEmpty">
		<p class="start-adding-collection-items">{{translations.NOCOLLECTIONITEMS}} <a
				ng-click="startToAddCollectionItems()">{{translations.HERE}}</a></p>
	</div>
</div>