<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <div id="message" ng-if='message != ""' class="alert alert-danger">{{message}}</div>
        <div id="messageInfo" ng-if='messageInfo != ""' class="alert alert-success">{{messageInfo}}</div>

        <p class="login-header"> {{translations.FORGOTPASSWORD}}</p>

        <form ng-submit="sendEmail()">
            <div class="form-group">
                <label>{{translations.EMAILORUSERNAME}}</label>
                <input type="text" class="form-control" id="emailOrUsername" name="emailOrUsername"
                    ng-model="emailOrUsername" required>
            </div>
            <button type="submit" id="submit" name="submit"
                class="btn btn-warning btn-lg">{{translations.SEND}}</button>

        </form>

    </div>
</div>