<div id="header">

<ul class="nav">

    <li id="search-menu" onmouseover="hover('search-menu')" onmouseout="hoverout('search-menu')">
	<a ng-click="search()" id="search-header"><img id="search-menu-img" src="images/search-menu.png" width="25px" height="25px" /><div>{{translations.SEARCH}}</div></a>
    </li>
   
    <li id="collection" onmouseover="hover('collection')" onmouseout="hoverout('collection')">
	<a ng-click="collection()" id="collection-header"><img id="collection-img" src="images/collection.png"  width="25px" height="25px" /><div>{{translations.COLLECTION}}</div></a>
    </li>
    <li onmouseover="hover('upload')" onmouseout="hoverout('upload')">
	<a ng-if="currentUser" ng-click="upload()" id="upload"><img id="upload-img" src="images/upload.png"  width="25px" height="25px" /><div>{{translations.UPLOAD}}</div></a>
    </li>

   <li id="modify" onmouseover="hover('modify')" onmouseout="hoverout('modify')">
<a ng-if="currentUser" ng-click="modify(currentUser)" id="modify"><img id="modify-img" src="images/modify.png"  width="25px" height="25px" /> <div>{{translations.MODIFY}}</div></a>
    </li>

    <li id="logout" onmouseover="hover('logout')" onmouseout="hoverout('logout')">
	<a ng-if="currentUser" href="logout"><div id="logout_username">{{translations.LOGOUT}}, {{currentUser.username}}</div><img id="logout-img" src="images/logout.png"  width="25px" height="25px" /></a>
    </li>
    <li id="login" onmouseover="hover('login')" onmouseout="hoverout('login')">
	<a ng-if="!currentUser" ng-click="login()"><div>{{translations.LOGIN}}</div><img id="login-img" src="images/login.png" width="25px" height="25px"/></a>
    </li> 

    <li id="options">
	<a id="observationmenu"><img id="options-img" src="images/options.png" width="25px" height="25px"/><div>{{translations.OBSERVATION}}</div></a>
	<ul class="subnav">
 	    <li ng-if="currentUser"><a ng-click="addObservation(currentUser)" id="addobservation-header">{{translations.ADDOBSERVATION}}</a></li>
            <li><a ng-click="browseObservation(currentUser)" id="browseobservation-header">{{translations.BROWSEOBSERVATIONS}}</a></li>
	</ul>
    </li>

    <li id="options">
	<a ng-if="lang=='en'" onmouseover="mopen('o1')" 
        onmouseout="mclosetime('options-1')"><img id="options-img" src="images/options.png" width="25px" height="25px"/> 		{{translations.LANGUAGE}}</a>
	<a ng-if="lang=='fi'" onmouseover="mopen('o2')" 
        onmouseout="mclosetime('options-2')"><img id="options-img" src="images/options.png" width="25px" height="25px"/> 		{{translations.LANGUAGE}} </a>
	
	<ul class="subnav" >
 	    <li><a id="o1"  onmouseover="mcancelclosetime('o1')" 
            onmouseout="close('o1')" ng-if="lang=='en'"  ng-click="setLanguage('fi')">Fi</a></li>
            <li><a id="o2"  onmouseover="mcancelclosetime('o2')" 
            onmouseout="close('o2')" ng-if="lang=='fi'" ng-click="setLanguage('en')">En</a></li>
	</ul>
    </li>
</ul>
	 
<br>
</div>


