<div id="header">

	<!--<a href="#/main">{{translations.HOME}}</a>
	{{translations.LANGUAGE}}: <div class="text" ng-if="lang=='en'">En <a href="" ng-click="setLanguage('fi')">Fi</a></div> <div class="text" ng-if="lang=='fi'"><a href="" ng-click="setLanguage('en')">En</a> Fi</div>
		<div class="text" ng-if="currentUser"> {{currentUser.username}},</div>
   <a ng-if="currentUser" href="logout">{{translations.LOGOUT}}</a>
   <a ng-if="!currentUser" href="login"> {{translations.LOGIN}}</a>    
	<br>-->

<!--
	<table align="center">
	<tr><td>
   <ul id="sddm">
     <li><a href="" ng-click="search()" >
        {{translations.SEARCH}}</a>
     </li>
     </li>
     <li><a href="" ng-click="collection()" >{{translations.COLLECTION}}</a></li>
     <li><a href="" ng-click="upload()" >{{translations.UPLOAD}}</a></li>
     <li ng-if="currentUser"><a href="" ng-click="modify(currentUser)" >{{translations.MODIFY}}</a></li>
     <li>
	<a href="" 
        onmouseover="mopen('m2')" 
        onmouseout="mcancelclosetime('menu-2')" ng-if="lang=='en'">{{translations.LANGUAGE}}</a>
        <a href="" 
        onmouseover="mopen('m3')" 
        onmouseout="mcancelclosetime('menu-3')" ng-if="lang=='fi'">{{translations.LANGUAGE}}</a> 		 

        <a id="m2" ng-if="lang=='en'" href="" onmouseover="mcancelclosetime('m2')" 
            onmouseout="mclosetime('m2')" ng-click="setLanguage('fi')">Fi</a>
        <a  id="m3" ng-if="lang=='fi'" onmouseover="mcancelclosetime('m3')" 
            onmouseout="mclosetime('m3')"  href=""  ng-click="setLanguage('en')">En</a>      
</div>
     </li>
     		
     <li ng-if="currentUser" ><a href="logout">{{currentUser.username}}, {{translations.LOGOUT}}</a></li>
     <li ng-if="!currentUser"><a href="login"> {{translations.LOGIN}}</a></li>  
	  </ul>
	  </td></tr>		
	  <div style="clear:both"></div>
-->


<ul class="nav">
    <!--<li id="settings">
        <a href="#"><img src="settings.png" /></a>
    </li>-->
    <li id="search-menu" onmouseover="hover('search-menu')" onmouseout="hoverout('search-menu')">
	<a ng-click="search()" ><img id="search-menu-img" src="images/search-menu.png" width="25px" height="25px" /><div>{{translations.SEARCH}}</div></a>
    </li>
   
    <li id="collection" onmouseover="hover('collection')" onmouseout="hoverout('collection')">
	<a ng-click="collection()"><img id="collection-img" src="images/collection.png"  width="25px" height="25px" /><div>{{translations.COLLECTION}}</div></a>
    </li>
    <li id="upload" onmouseover="hover('upload')" onmouseout="hoverout('upload')">
	<a ng-if="currentUser" ng-click="upload()"><img id="upload-img" src="images/upload.png"  width="25px" height="25px" /><div>{{translations.UPLOAD}}</div></a>
    </li>

    <li id="modify" ng-if="currentUser" onmouseover="hover('modify')" onmouseout="hoverout('modify')" >
<a ng-if="currentUser" ng-click="modify(currentUser)"><img id="modify-img" src="images/modify.png"  width="25px" height="25px" /> <div>{{translations.MODIFY}}</div></a>
    </li>
    <li id="options">
	<a ng-if="lang=='en'" onmouseover="mopen('o1')" 
        onmouseout="mclosetime('options-1')"><img id="options-img" src="images/options.png" width="25px" height="25px"/>EN <div> {{translations.LANGUAGE}}</div> </a>
	<a ng-if="lang=='fi'" onmouseover="mopen('o2')" 
        onmouseout="mclosetime('options-2')"><img id="options-img" src="images/options.png" width="25px" height="25px"/>FI <div> {{translations.LANGUAGE}}</div> </a>
	<ul class="subnav" >
 	    <li><a id="o1"  onmouseover="mcancelclosetime('o1')" 
            onmouseout="close('o1')" ng-if="lang=='en'"  ng-click="setLanguage('fi')">Fi</a></li>
            <li><a id="o2"  onmouseover="mcancelclosetime('o2')" 
            onmouseout="close('o2')" ng-if="lang=='fi'" ng-click="setLanguage('en')">En</a></li>
	</ul>
    </li>
    <li id="logout" onmouseover="hover('logout')" onmouseout="hoverout('logout')">
	<a ng-if="currentUser" href="logout"><div>{{translations.LOGOUT}}, {{currentUser.username}}</div><img id="logout-img" src="images/logout.png"  width="25px" height="25px" /></a>
    </li>
    <li id="login" onmouseover="hover('login')" onmouseout="hoverout('login')">
	<a ng-if="!currentUser" href="login"><div>{{translations.LOGIN}}</div><img id="login-img" src="images/login.png" width="25px" height="25px"/></a>
    </li>
</ul>
	 
<br>
</div>


