<br>
<div class="container-main-detail">
	<table class="button-center">
		<tr ng-if="!connected">
			<td class="container-tag">
				<div class="offline-mode">{{translations.OFFLINEMODE}}</div>
			</td>
		</tr>
		<tr ng-if="description">
			<td>
				<p class="max-80-chars" id="description"><strong>{{translations.DESCRIPTION}}</strong>:
					{{description}}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p class="margin-bottom-md max-80-chars" id="latinName"> <strong>{{translations.LATINNAME}}</strong>:
					{{insect.latinName}}</p>
			</td>
		</tr>
		<!-- main image -->
		<tr>
			<td>

				<div>
					<img ng-if="connected==1" ng-src="{{img}}" id="{{img}}" ng-repeat="img in insect.images"
						ng-class="{active: mainImageUrl==img}" class="insect-detail" />
					<img ng-if="connected==0" ng-src="{{localStorage[img]}}" ng-repeat="img in insect.images"
						ng-class="{active: mainImageUrl==img}" class="insect-detail" />
				</div>

			</td>
		</tr>
	</table>
</div>


<!-- translated name -->
<table class="button-center">
	<tr>
		<td>
			<div ng-repeat="translation in insect.translations">
				<p class="current-language-name" ng-if="translation.language==lang">
					{{translation.name}}
				</p>
			</div>
		</td>
	</tr>
</table>

<!-- thumb images -->
<div>
	<div class="container">
		<ul class="insect-thumbs container-insect-detail" id="insect-thumbs" ng-if="insect.images.length > 1">
			<li ng-repeat="img in insect.images">
				<img ng-if="connected==1" ng-src="{{img+'_thumb.jpg'}}" id="{{img+'_thumb.jpg'}}"
					ng-click="setImage(img)" alt={{insect.latinName}} />
				<img ng-if="connected==0" ng-src="{{localStorage[img+'_thumb.jpg']}}" id="{{img+'_thumb.jpg'}}"
					ng-click="setImage(img)" alt={{insect.latinName}} />
			</li>
		</ul>

	</div>

</div>

<br>
<div class="container-alert">
	<div id="messageAddFailure" ng-if='messageCollectionAddFailure != ""' class="alert alert-danger is-paused fade-out">
		{{messageCollectionAddFailure}}</div>
	<div id="messageAddSuccess" ng-if='messageCollectionAddSuccess != ""'
		class="alert alert-success is-paused fade-out">
		{{messageCollectionAddSuccess}}</div>
	<div id="messageRemovedFailure" ng-if='messageRemovedFailure != ""' class="alert alert-danger is-paused fade-out">
		{{messageRemovedFailure}}</div>
	<div id="messageRemovedSuccess" ng-if='messageRemovedSuccess != ""' class="alert alert-success is-paused fade-out">
		{{messageRemovedSuccess}}</div>
	<div id="messageCollectionAddOfflineFailure" ng-if="messageCollectionAddOfflineFailure != ''"
		class="alert alert-danger is-paused fade-out">
		{{messageCollectionAddOfflineFailure}}
	</div>
	<div class="lds-center">
		<div class="lds-spinner spinner-loading" id="spinner-search">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>

<!-- buttons -->

<div ng-switch="prevUrl" class="center">
	<div ng-switch-when="#/list">
		<div class="button-grid button-grid--2">
			<button id="newSearch" type="button" class="button button-blue" value="&larr; {{translations.NEWSEARCH}}"
				ng-click="new_search()" ng-disabled="disableAddOrRemove">&larr; {{translations.NEWSEARCH}}</button>

			<button ng-if="inCollection==1" id="removeFromCollection" type="button" class="button button-red"
				value="{{translations.REMOVEFROMCOLLECTION}}" ng-click="removeFromCollection(insect)"
				ng-disabled="disableAddOrRemove">{{translations.REMOVEFROMCOLLECTION}}</button>

			<button ng-if="!inCollection" id="addToCollection" type="button" class="button button-green"
				value="{{translations.ADDTOCOLLECTION}}" ng-click="add_to_collection()"
				ng-disabled="disableAddOrRemove">{{translations.ADDTOCOLLECTION}}</button>
		</div>
	</div>
	<div ng-switch-when="#/collection">
		<div class="button-grid button-grid--2">
			<button id="returnToCollection" type="button" class="button button-blue "
				value="&larr; {{translations.RETURNTOCOLLECTION}}" ng-click="collection()"
				ng-disabled="disableAddOrRemove">&larr;
				{{translations.RETURNTOCOLLECTION}}</button>

			<button ng-if="inCollection==1" id="removeFromCollection" type="button" class="button button-red"
				value="{{translations.REMOVEFROMCOLLECTION}}" ng-click="removeFromCollection(insect)"
				ng-disabled="disableAddOrRemove"">{{translations.REMOVEFROMCOLLECTION}}</button>

			<button ng-if=" !inCollection" id="addToCollection" type="button" class="button button-green"
				value="{{translations.ADDTOCOLLECTION}}" ng-click="add_to_collection()"
				ng-disabled="disableAddOrRemove">{{translations.ADDTOCOLLECTION}}</button>
		</div>
	</div>
</div>