<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <div id="message" ng-if='message != ""' class="alert alert-danger">{{message}}</div>
        <div id="messageInfo" ng-if='messageInfo != ""' class="alert alert-success">{{messageInfo}}</div>

        <p class="login-header"> {{translations.RESETPASSWORD}}</p>

        <form ng-submit="resetPassword()">
            <div class="form-group">
                <label>{{translations.PASSWORD}}</label>
                <input type="password" class="form-control" id="password" name="password" minlength='4'
                    placeholder="••••" ng-model="password" required>
            </div>
            <div class="form-group">
                <label>{{translations.PASSWORDCONFIRM}}</label>
                <input type="password" ng-change="passwordConfirmField()" class="form-control" id="passwordConfirm"
                    name="passwordConfirm" placeholder="••••" ng-model="passwordConfirm">
            </div>
            <button type="submit" id="submit" name="submit"
                class="btn btn-warning btn-lg">{{translations.SEND}}</button>

        </form>

    </div>
</div>