<section class="section-search">
	<div ng-if="fromObservationPage == 1">
		<h4>{{translations.ADDOBSERVATION}}</h4>
		<h2 style="margin-bottom: 20px"><span>01</span> {{translations.SEARCHPAGE}}</h2>

	</div>
	<h1 ng-if="fromObservationPage != 1">{{translations.SEARCHPAGE}}</h1>
	<form ng-submit='search(query)'>
		<div class="flex-center">
			<ul id="flex-table" class="flex-table">
				<li>
					{{translations.CATEGORY}}:(*)
				</li>
				<li>

					<select class="form-control-own" name="category" ng-model="query.category"
						ng-change="filterChange()" required>
						<option value=""></option>
						<option value="Ant">{{translations.ANT}}</option>
						<option value="Bee">{{translations.BEE}}</option>
						<option value="Beetle">{{translations.BEETLE}}</option>
						<option value="Butterfly">{{translations.BUTTERFLY}}</option>
						<option value="Centipede">{{translations.CENTIPEDE}}</option>
						<option value="Spider">{{translations.SPIDER}}</option>

					</select>
				</li>

				<li> {{translations.PRIMARYCOLOR}}:</li>
				<li>
					<select class="form-control-own" name="primaryColor" ng-model="query.primaryColor"
						ng-change="filterChange()">
						<option value=""></option>
						<option value="Black">{{translations.BLACK}}</option>
						<option value="Blue">{{translations.BLUE}}</option>
						<option value="Brown">{{translations.BROWN}}</option>
						<option value="Golden">{{translations.GOLDEN}}</option>
						<option value="Green">{{translations.GREEN}}</option>
						<option value="Grey">{{translations.GREY}}</option>
						<option value="Orange">{{translations.ORANGE}}</option>
						<option value="Red">{{translations.RED}}</option>
						<option value="Silver">{{translations.SILVER}}</option>
						<option value="Turquoise">{{translations.TURQUOISE}}</option>
						<option value="White">{{translations.WHITE}}</option>
						<option value="Violet">{{translations.VIOLET}}</option>
						<option value="Yellow">{{translations.YELLOW}}</option>
					</select>
				</li>
				<li>{{translations.SECONDARYCOLOR}}:</li>
				<li>
					<select class="form-control-own" name="secondaryColor" ng-model="query.secondaryColor">
						<option value=""></option>
						<option value="Black">{{translations.BLACK}}</option>
						<option value="Blue">{{translations.BLUE}}</option>
						<option value="Brown">{{translations.BROWN}}</option>
						<option value="Golden">{{translations.GOLDEN}}</option>
						<option value="Green">{{translations.GREEN}}</option>
						<option value="Grey">{{translations.GREY}}</option>
						<option value="Orange">{{translations.ORANGE}}</option>
						<option value="Red">{{translations.RED}}</option>
						<option value="Silver">{{translations.SILVER}}</option>
						<option value="Turquoise">{{translations.TURQUOISE}}</option>
						<option value="Violet">{{translations.VIOLET}}</option>
						<option value="White">{{translations.WHITE}}</option>
						<option value="Yellow">{{translations.YELLOW}}</option>
					</select>
				</li>
				<!-- <li> {{translations.NUMBEROFLEGS}}:</li>
				<li>
					<select class="form-control-own" name="legs" ng-model="query.legs">
						<option value=""></option>
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
					</select>
				</li> -->

				<li> {{translations.NAME}}: </li>
				<li>
					<input class="form-control-own" type="text" name="name" ng-model="query.name" />

				</li>
				<!-- <li>{{translations.LANGUAGE}}: </li>
				<li>
					<div class="language-container">

						<select class="form-control-own" name="language" ng-model="query.language">
							<option value=""></option>
							<option value="Latin">{{translations.LATIN}}</option>
							<option value="en">{{translations.ENGLISH}}</option>
							<option value="fi">{{translations.FINNISH}}</option>
						</select>
					</div>
				</li> -->

			</ul>
		</div>

		<br>
		<br>
		<table class="button-center">
			<tr>
				<td>
					<button type="submit" id="search_button" ng-disabled="disableSearch" name="search"
						class="button button-green">
						{{translations.SEARCH}}

					</button>
				</td>
			</tr>
			<tr>
				<td>
					<div class="lds-center">
						<div class="lds-spinner spinner-loading" id="spinner-search">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</section>
<section class="section-search-results">
	<p id="searchResults" ng-model="searchResults" value={{searchResults}}></p>

	<!-- testing resize directive <div>
		<p>resize.withoutIdentifyBtnSmCond: {{resize.withoutIdentifyBtnSmCond}}</p>
		<p>resize.withoutIdentifyBtnMdCond: {{resize.withoutIdentifyBtnMdCond}}</p>

	</div> -->
	<div ng-switch="searchResults">

		<div ng-switch-when="noResults" id="noResults">
			<br>
			<br>
			<h2>{{translations.NORESULTS}} </h2>

		</div>
		<div ng-switch-when="showResults" id="showResults">
			<br>
			<br>
			<h2>{{translations.RESULTS}}</h2>
			<br>
			<!-- grid -->

			<div class="container-search" ng-resize="resize"
				ng-class="{withoutIdentifyBtnSm: resize.withoutIdentifyBtnSmCond, withoutIdentifyBtnMd: resize.withoutIdentifyBtnMdCond}"
				id="container-search">

				<!-- thumb pictures-->
				<ul class="insect-thumbs container-insect-thumbs" id="insect-thumbs">
					<li ng-repeat="_insect in pagedInsects[currentPage]" class="thumb-item">
						<img name="{{_insect.images[0]+'_thumb.jpg'}}" ng-src="{{_insect.images[0]+'_thumb.jpg'}}"
							ng-class="{activeThumb: mainImageUrl == _insect.images[0]}" ng-click="setImage(_insect)"
							alt={{_insect.latinName}} />
					</li>
				</ul>

				<!-- pagination-->
				<table class="pagination-center" id="pagination">
					<td>
						<div class="pagination">
							<ul>
								<li ng-class="{disabled: currentPage == 0}">
									<a href ng-click="prevPage()">« {{translations.PREVIOUS}}</a>
								</li>
								<li ng-repeat="n in range(pagedInsects.length)" ng-class="{active: n == currentPage}"
									ng-click="setPage()">
									<a href ng-bind="n + 1">1</a>
								</li>
								<li ng-class="{disabled: currentPage == pagedInsects.length - 1}">
									<a href ng-click="nextPage()">{{translations.NEXT}} »</a>
								</li>
							</ul>
						</div>
					</td>
				</table>

				<!-- large picture-->
				<div class="large-picture-search" id="large-picture-search">
					<div ng-repeat="img in imgs" ng-class="{active: mainImageUrl==img}" class="insect"
						ng-style="{backgroundImage: 'url({{img}})'}"></div>
				</div>

				<!-- <div class="large-picture-search">
					<img ng-src="{{img}}" class="insect" ng-repeat="img in imgs" ng-class="{active: mainImageUrl==img}">
				</div> -->

				<!-- identify button -->
				<div ng-if="fromObservationPage != 1 && searchResults=='showResults'" class="button-identify"
					id="button-identify">
					<button id="identify" type="button" class="button button-blue centered"
						ng-click="insectDetail()">{{translations.IDENTIFY}}</button>
				</div>

			</div> <!-- end of showresults -->
		</div> <!-- end of searchresults -->
		<br>
	</div>
</section>
<section class="section-add-observation">
	<!-- start of add observation panel -->
	<div ng-if="fromObservationPage == 1">

		<h2><span>02</span> {{translations.OBSERVATION}} </h2>

		<form ng-submit="addObservation(params)">
			<div class="flex-center">
				<ul id="flex-table" class="flex-table">
					<!-- insect specific -->
					<!-- insect name -->
					<li>
						<h3>{{translations.INSECTSPECIFIC}}:</h3>
					</li>
					<li></li>
					<li> {{translations.LATINNAME}}(*): </li>
					<li>
						<input class="form-control-own" type="text" id="observationLatinName"
							name="observationLatinName" ng-model="params.observationLatinName"
							ng-change="checkLatinname(params.observationLatinName)" ng-disabled="mainImageUrl"
							required />
					</li>
					<li>
						{{translations.DATE}}(*):
					</li>
					<li>
						<input class="form-control-own" ng-click="ds_sh_search('date')" id="date" name="date"
							style="cursor: text" ng-model="params.date" ng-required="dateRequired.date" />
					</li>
					<li>
						{{translations.COUNT}}(*):
					</li>
					<li>
						<input class="form-control-own form-control-own--sm" type="number" id="count" name="count"
							ng-model="params.count" min="1" required />
					</li>
					<input type="hidden" id="insectId" />

					<!-- place specific -->
					<li>
						<h3>{{translations.PLACESPECIFIC}}:</h3>
					</li>
					<li></li>

					<div id="flex-table" class="flex-table">
						<li>
							{{translations.COUNTRY}}(*):
						</li>
						<li>
							<select name="country" ng-model="params.country" required>
								<option value=""></option>
								<option value="FINLAND">{{translations.FINLAND}} </option>
								<option value="SWEDEN">{{translations.SWEDEN}} </option>
								<option value="NORWAY">{{translations.NORWAY}} </option>
								<option value="DENMARK">{{translations.DENMARK}} </option>
								<option value="GERMANY">{{translations.GERMANY}} </option>
								<option value="FRANCE">{{translations.FRANCE}} </option>
								<option value="RUSSIA">{{translations.RUSSIA}} </option>
								<option value="ITALY">{{translations.ITALY}} </option>
								<option value="SPAIN">{{translations.SPAIN}} </option>
								<option value="GREECE">{{translations.GREECE}} </option>
								<option value="CYPRYS">{{translations.CYPRYS}} </option>
								<option value="BELGIUM">{{translations.BELGIUM}} </option>
								<option value="UNITEDKINGDOM">{{translations.UNITEDKINGDOM}}
								</option>
								<option value="SCOTLAND">{{translations.SCOTLAND}} </option>
								<option value="IRELAND">{{translations.IRELAND}} </option>
								<option value="ICELAND">{{translations.ICELAND}} </option>
								<option value="NETHERLAND">{{translations.NETHERLAND}}
								</option>
								<option value="UKRAINE">{{translations.UKRAINE}} </option>
								<option value="HUNGARY">{{translations.HUNGARY}} </option>
								<option value="SERBIA">{{translations.SERBIA}} </option>
								<option value="ROMANIA">{{translations.ROMANIA}} </option>
								<option value="PORTUGAL">{{translations.PORTUGAL}} </option>
								<option value="POLAND">{{translations.POLAND}} </option>
								<option value="LIETHUA">{{translations.LIETHUA}} </option>
								<option value="LATVIA">{{translations.LATVIA}} </option>
								<option value="BELARUS">{{translations.BELARUS}} </option>
								<option value="CHINA">{{translations.CHINA}} </option>
								<option value="INDIA">{{translations.INDIA}} </option>
								<option value="PAKISTAN">{{translations.PAKISTAN}} </option>
								<option value="KAZAKSTAN">{{translations.KAZAKSTAN}} </option>
								<option value="THAILAND">{{translations.THAILAND}} </option>
								<option value="SOUTHKOREA">{{translations.SOUTHKOREA}}
								</option>
								<option value="NORTHKOREA">{{translations.NORTHKOREA}}
								</option>
								<option value="PAPUAGUINEA">{{translations.PAPUAGUINEA}}
								</option>
								<option value="NEWZEALAND">{{translations.NEWZEALAND}}
								</option>
								<option value="INDONESIA">{{translations.INDONESIA}} </option>

								<option value="LAOS">{{translations.LAOS}} </option>
								<option value="VIETNAM">{{translations.VIETNAM}} </option>
								<option value="BRUNEI">{{translations.BRUNEI}} </option>
								<option value="MALESIA">{{translations.MALESIA}} </option>
								<option value="MYANMAR">{{translations.MYANMAR}} </option>
								<option value="SINGAPORE">{{translations.SINGAPORE}} </option>
								<option value="AFGANISTAN">{{translations.AFGANISTAN}}
								</option>
								<option value="BANGLADESH">{{translations.BANGLADESH}}
								</option>
								<option value="BHUTAN">{{translations.BHUTAN}} </option>
								<option value="MALEDIVE">{{translations.MALEDIVE}} </option>
								<option value="NEPAL">{{translations.NEPAL}} </option>
								<option value="INDONESIA">{{translations.INDONESIA}} </option>
								<option value="SRILANKA">{{translations.SRILANKA}} </option>
								<option value="AZERBAIDZAN">{{translations.AZERBAIDZAN}}
								</option>
								<option value="BAHRAIN">{{translations.BAHRAIN}} </option>
								<option value="YEMEN">{{translations.YEMEN}} </option>
								<option value="LIBANON">{{translations.LIBANON}} </option>
								<option value="OMAN">{{translations.OMAN}} </option>
								<option value="QATAR">{{translations.QATAR}} </option>
								<option value="TURKEY">{{translations.TURKEY}} </option>
								<option value="INDONESIA">{{translations.INDONESIA}} </option>
								<option value="JORDANIA">{{translations.JORDANIA}} </option>
								<option value="GEORGIA">{{translations.GEORGIA}} </option>
								<option value="UZBEKISTAN">{{translations.UZBEKISTAN}}
								</option>
								<option value="TURKEMISTAN">{{translations.TURKEMISTAN}}
								</option>
								<option value="TADZIKISTAN">{{translations.TADZIKISTAN}}
								</option>

								<option value="CANADA">{{translations.CANADA}} </option>
								<option value="USA">{{translations.USA}} </option>
								<option value="MEXICO">{{translations.MEXICO}} </option>
								<option value="JAMAICA">{{translations.JAMAICA}} </option>
								<option value="CUBA">{{translations.CUBA}} </option>
								<option value="PANAMA">{{translations.PANAMA}} </option>
								<option value="COSTARICA">{{translations.COSTARICA}} </option>
								<option value="ECUADOR">{{translations.ECUADOR}} </option>
								<option value="BRAZIL">{{translations.BRAZIL}} </option>
								<option value="PERU">{{translations.PERU}} </option>
								<option value="CHILE">{{translations.CHILE}} </option>
								<option value="BOLIVIA">{{translations.BOLIVIA}} </option>
								<option value="COLUMBIA">{{translations.COLUMBIA}} </option>
								<option value="ISRAEL">{{translations.ISRAEL}} </option>
								<option value="SYRIA">{{translations.SYRIA}} </option>
								<option value="SAUDIARABIA">{{translations.SAUDIARABIA}}
								</option>
								<option value="BELARUS">{{translations.BELARUS}} </option>
								<option value="EGYPT">{{translations.EGYPT}} </option>
								<option value="TUNISIA">{{translations.TUNISIA}} </option>
								<option value="SUDAN">{{translations.SUDAN}} </option>
								<option value="SWITERLAND">{{translations.SWITZERLAND}}
								</option>
								<option value="IRAN">{{translations.IRAN}} </option>
								<option value="VENEZUALA">{{translations.VENEZUALA}} </option>

								<option value="ARGENTIINA">{{translations.ARGENTIINA}}
								</option>
								<option value="MEXICO">{{translations.MACEDONIA}} </option>
								<option value="ARMENIA">{{translations.ARMENIA}} </option>
								<option value="SUDAN">{{translations.SUDAN}} </option>
								<option value="GHANA">{{translations.GHANA}} </option>
								<option value="DEMOCRATICREPUPUBLICOFCONGO">
									{{translations.DEMOCRATICREPUPUBLICOFCONGO}} </option>
								<option value="REPUBLICOFCONGO">
									{{translations.REPUBLICOFCONGO}}
								</option>
								<option value="ALGERIA">{{translations.ALGERIA}} </option>
								<option value="ZIMBABWE">{{translations.ZIMBABWE}} </option>
								<option value="SOUTHAFRICA">{{translations.SOUTHAFRICA}}
								</option>
								<option value="MAURITANIA">{{translations.MAURITANIA}}
								</option>
								<option value="ANGOLA">{{translations.ANGOLA}} </option>
								<option value="ETHIOPIA">{{translations.ETHIOPIA}} </option>
								<option value="TANZANIA">{{translations.TANZANIA}} </option>
								<option value="RWANDA">{{translations.RWANDA}} </option>
								<option value="ERITREA">{{translations.ERITREA}} </option>
								<option value="ZAMBIA">{{translations.ZAMBIA}} </option>
								<option value="LIBYA">{{translations.LIBYA}} </option>
								<option value="DIJIBOUTI">{{translations.DIJIBOUTI}} </option>

								<option value="COMOROS">{{translations.COMOROS}} </option>
								<option value="MALAWI">{{translations.MALAWI}} </option>
								<option value="SEYCHELLES">{{translations.SEYCHELLES}}
								</option>
								<option value="CHAD">{{translations.CHAD}} </option>
								<option value="LESOTHO">{{translations.LESOTHO}} </option>
								<option value="BENIN">{{translations.BENIN}} </option>
								<option value="IVORYCOAST">{{translations.IVORYCOAST}}
								</option>
								<option value="LIBERIA">{{translations.LIBERIA}} </option>
								<option value="MALI">{{translations.MALI}} </option>
								<option value="SENEGAL">{{translations.SENEGAL}} </option>
								<option value="TOG">{{translations.TOGO}} </option>
								<option value="GUINEABISSEAU">{{translations.GUINEABISSEAU}}
								</option>
								<option value="SIERRALEONE">{{translations.SIERRALEONE}}
								</option>
								<option value="NIGER">{{translations.NIGER}} </option>
							</select>
						</li>

						<li>
							{{translations.LOCATION}}(*):
						</li>
						<li>
							<select name="countrypart" ng-model="params.countrypart" required>
								<option value=""></option>
								<option value="NORTH">{{translations.NORTH}}</option>
								<option value="NORTHEAST">{{translations.NORTHEAST}}</option>
								<option value="EAST">{{translations.EAST}}</option>
								<option value="EASTSOUTH">{{translations.EASTSOUTH}}</option>
								<option value="SOUTH">{{translations.SOUTH}}</option>
								<option value="SOUTHWEST">{{translations.SOUTHWEST}}</option>
								<option value="WEST">{{translations.WEST}}</option>
								<option value="NORTHWEST">{{translations.NORTHWEST}}</option>
								<option value="MIDDLE">{{translations.MIDDLE}}</option>
							</select>
						</li>

						<li>
							{{translations.PLACE}}(*):
						</li>
						<li> <input class="form-control-own" name="place" type="text" ng-model="params.place"
								required /></li>

						<li>
							{{translations.PLACETYPE}}:
						</li>
						<li>
							<div class="centered">
								<input type="radio" class="input--sm" id="other" name="farmtypegroup"
									ng-model="params.farmType" value="other">{{translations.OTHER}}
								<br>
								<input type="radio" class="input--sm" id="organicFarm" name="farmtypegroup"
									ng-model="params.farmType" value="organicFarm" />{{translations.ORGANICFARM}}
								<br>
								<input type="radio" class="input--sm" id="nonOrganicFarm" name="farmtypegroup"
									ng-model="params.farmType" value="nonorganicFarm" />{{translations.NONORGANICFARM}}
							</div>

						</li>
					</div>
					<!-- end of farmtype -->
					<!-- end of addobservation -->
				</ul>
			</div> <!-- end of flex table -->
			<br>
			<div class="container-alert">
				<div class='js-fade fade-out is-paused alert alert-success' id="messageAddSuccess"
					ng-if='addObservationSuccess != ""'>{{addObservationSuccess}}</div>
				<div class='js-fade fade-out is-paused alert alert-danger' id="messageAddFailure"
					ng-if='addObservationFailure != ""'>{{addObservationFailure}}</div>
			</div>
			<button type="submit" id="observationSubmit" type="button"
				class="button button-blue centered">{{translations.ADDOBSERVATION}}</button>
		</form>

	</div> <!-- end of add observation panel -->
</section>