<section class="section-search">
	<div ng-if="fromObservationPage == 1">
		<h4>{{translations.ADDOBSERVATION}}</h4>
		<h2 style="margin-bottom: 20px"><span>01</span> {{translations.SEARCHPAGE}}</h2>

	</div>
	<h1 ng-if="fromObservationPage != 1">{{translations.SEARCHPAGE}}</h1>

	<form ng-submit='search(query)'>
		<div class="flex-center">
			<ul id="flex-table" class="flex-table">
				<li>
					{{translations.CATEGORY}}:(*)
				</li>
				<li>

					<select class="form-control-own" name="category" ng-model="query.category" required>
						<option ng-repeat="category in categories" value="{{category[1]}}">
							{{category[0]}}
						</option>
					</select>
				</li>

				<li> {{translations.PRIMARYCOLOR}}:</li>
				<li>
					<select class="form-control-own" name="primaryColor" ng-model="query.primaryColor">
						<option ng-repeat="color in colors" value="{{color[1]}}">
							{{color[0]}}
						</option>
					</select>
				</li>
				<li>{{translations.SECONDARYCOLOR}}:</li>
				<li>
					<select class="form-control-own" name="secondaryColor" ng-model="query.secondaryColor">
						<option ng-repeat="color in colors" value="{{color[1]}}">
							{{color[0]}}
						</option>
					</select>
				</li>
				<li> {{translations.NAME}}: </li>
				<li>
					<input class="form-control-own" type="text" name="name" ng-model="query.name" />

				</li>
				<!-- <li>{{translations.LANGUAGE}}: </li>
				<li>
					<div class="language-container">

						<select class="form-control-own" name="language" ng-model="query.language">
							<option value=""></option>
							<option value="Latin">{{translations.LATIN}}</option>
							<option value="en">{{translations.ENGLISH}}</option>
							<option value="fi">{{translations.FINNISH}}</option>
						</select>
					</div>
				</li> -->

			</ul>
		</div>

		<br>
		<br>
		<table class="button-center">
			<tr>
				<td>
					<button type="submit" id="search_button" ng-disabled="disableSearch" name="search"
						class="button button-green">
						{{translations.SEARCH}}

					</button>
				</td>
			</tr>
			<tr>
				<td>
					<div class="lds-center">
						<div class="lds-spinner spinner-loading" id="spinner-search">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</section>
<section class="section-search-results">
	<p id="searchResults" ng-model="searchResults" value={{searchResults}}></p>

	<!-- testing resize directive <div>
		<p>resize.withoutIdentifyBtnSmCond: {{resize.withoutIdentifyBtnSmCond}}</p>
		<p>resize.withoutIdentifyBtnMdCond: {{resize.withoutIdentifyBtnMdCond}}</p>

	</div> -->
	<div ng-switch="searchResults">

		<div ng-switch-when="noResults" id="noResults">
			<br>
			<br>
			<h2>{{translations.NORESULTS}} </h2>

		</div>
		<div ng-switch-when="showResults" id="showResults">
			<br>
			<br>
			<h2>{{translations.RESULTS}}</h2>
			<br>
			<!-- grid -->

			<div class="container-search" ng-resize="resize" id="container-search">

				<!-- thumb pictures-->
				<ul class="insect-thumbs container-insect-thumbs"
					ng-class="{noInsectThumbs: resize.noInsectThumbs, containerInsectThumbsHigh: resize.containerInsectThumbsHigh}"
					id="insect-thumbs">
					<li ng-repeat="_insect in pagedInsects[currentPage]" class="thumb-item">
						<img name="{{_insect.images[0]+'_thumb.jpg'}}" ng-src="{{_insect.images[0]+'_thumb.jpg'}}"
							ng-click="setImage(_insect)" id="{{_insect.images[0]+'_thumb.jpg'}}"
							alt={{_insect.latinName}} />
					</li>
				</ul>

				<!-- pagination-->
				<table class="pagination-center" ng-class="{hidePagination: resize.hidePagination}">
					<td>
						<div>
							<ul class="pagination" id="pagination">
								<li ng-class="{disabled: currentPage == 0}">
									<a href ng-click="prevPage()">« {{translations.PREVIOUS}}</a>
								</li>
								<li ng-repeat="n in range(pagedInsects.length)" ng-class="{active: n == currentPage}"
									ng-click="setPage()">
									<a href ng-bind="n + 1">1</a>
								</li>
								<li ng-class="{disabled: currentPage == pagedInsects.length - 1}">
									<a href ng-click="nextPage()">{{translations.NEXT}} »</a>
								</li>
							</ul>
						</div>
					</td>
				</table>

				<!-- large picture-->
				<div class="large-picture-search" id="large-picture-search"
					ng-class="{largePictureOnly: resize.largePictureOnly}">
					<div ng-repeat="img in imgs" ng-class="{active: mainImageUrl==img}" class="insect"
						ng-style="{backgroundImage: 'url({{img}})'}"></div>
				</div>

				<!-- <div class="large-picture-search">
					<img ng-src="{{img}}" class="insect" ng-repeat="img in imgs" ng-class="{active: mainImageUrl==img}">
				</div> -->

				<!-- identify button -->
				<div ng-if="fromObservationPage != 1 && searchResults=='showResults'" class="button-identify"
					id="button-identify">
					<button id="identify" type="button" class="button button-blue centered"
						ng-click="insectDetail()">{{translations.IDENTIFY}}</button>
				</div>

			</div> <!-- end of showresults -->
		</div> <!-- end of searchresults -->
		<br>
	</div>
</section>
<section class="section-add-observation">
	<!-- start of add observation panel -->
	<div ng-if="fromObservationPage == 1">

		<h2><span>02</span> {{translations.OBSERVATION}} </h2>

		<form ng-submit="addObservation(params)" name="myForm" id="myForm">
			<div class="flex-center">
				<ul id="flex-table" class="flex-table">
					<!-- insect specific -->
					<!-- insect name -->
					<li>
						<h3>{{translations.INSECTSPECIFIC}}:</h3>
					</li>
					<li></li>
					<li> {{translations.LATINNAME}}(*): </li>
					<li>
						<input class="form-control-own" type="text" id="observationLatinName"
							name="observationLatinName" ng-model="params.observationLatinName" latin-name
							ng-disabled="insectId"
							ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
						<p ng-if="!latinNameExists && latinNameExists != undefined">Please, check the latin name again.
						</p>
					</li>
					<li>
						{{translations.DATE}}(*):
					</li>
					<li>
						<input class="form-control-own" ng-click="ds_sh_search('date')" id="date" name="date"
							style="cursor: text" ng-model="params.date" ng-required="dateRequired.date" />
					</li>
					<li>
						{{translations.COUNT}}(*):
					</li>
					<li>
						<input class="form-control-own form-control-own--sm" type="number" id="count" name="count"
							ng-model="params.count" min="1" required />
					</li>
					<input type="hidden" id="insectId" />

					<!-- place specific -->
					<li>
						<h3>{{translations.PLACESPECIFIC}}:</h3>
					</li>
					<li></li>

					<div id="flex-table" class="flex-table">
						<li>{{translations.LOCATION}}:</li>
						<li><button ng-click="getCurrentLocation()" type="button"
								class="get-current-position-btn">{{translations.GETCURRENTLOCATION}}</button>
							<br>
							<label class="lonlatlabel" for="latitude">{{translations.LATITUDE}}:
							</label>
							<input class="form-control-own form-control-own--sm" type="number" step="0.0000001"
								id="latitude" name="latitude" ng-model="params.latitude">
							<br>
							<label class="lonlatlabel" for="latitude">{{translations.LONGITUDE}}:
							</label>
							<input class="form-control-own form-control-own--sm" type="number" step="0.0000001"
								id="longitude" name="longitude" ng-model="params.longitude">
							<div class="lds-center">
								<div class="lds-spinner spinner-loading" id="spinner-search-location">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
							<br><br>

						</li>
						<li>
							{{translations.COUNTRY}}(*):
						</li>
						<li>
							<div class="dropdown-select">
								<div id="dropbtn-select" onclick="toggleDropdownContent()" class="dropbtn-select"
									tabindex="1">
									<div class="dropbtn-content-select" id="dropbtn-content-select"
										ng-model="params.dropdownCountry">

									</div>
									<svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-down" fill="none"
										viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M19 9l-7 7-7-7" />
									</svg>

								</div>
								<div id="myDropdown" class="dropdown-container">
									<div class="input-container">
										<svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none"
											viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
										</svg>
										<input type=" text" placeholder="Search..." id="myInput"
											onkeyup="filterFunction()">
									</div>

									<div class="dropdown-content-select" id="dropdown-content-select">
										<a href="" ng-repeat="country in countries"
											ng-click="updateDropbtnContent(country[0], country[1])">
											{{country[0]}}
										</a>
									</div>

								</div>
							</div>
						</li>

						<li>
							{{translations.COUNTRYPART}}(*):
						</li>
						<li>
							<select class="form-control-own" name="countrypart" ng-model="params.countrypart" required>
								<option value=""></option>
								<option value="NORTH">{{translations.NORTH}}</option>
								<option value="NORTHEAST">{{translations.NORTHEAST}}</option>
								<option value="EAST">{{translations.EAST}}</option>
								<option value="EASTSOUTH">{{translations.EASTSOUTH}}</option>
								<option value="SOUTH">{{translations.SOUTH}}</option>
								<option value="SOUTHWEST">{{translations.SOUTHWEST}}</option>
								<option value="WEST">{{translations.WEST}}</option>
								<option value="NORTHWEST">{{translations.NORTHWEST}}</option>
								<option value="MIDDLE">{{translations.MIDDLE}}</option>
							</select>
						</li>

						<li>
							{{translations.PLACE}}(*):
						</li>
						<li> <input class="form-control-own" name="place" type="text" ng-model="params.place"
								required /></li>

						<li>
							{{translations.PLACETYPE}}:
						</li>
						<li>
							<div class="container-place-type row-gap-sm margin-top-place-type">
								<div class="form__radio-group">
									<input type="radio" class="form__radio-input" id="anytype" name="placetypegroup"
										value="anytype" ng-model="params.placeType">
									<label for="anytype" class="form__radio-label">
										<span class="form__radio-button"></span>
										<span class="radio-content">{{translations.ANYTYPE}}</span>
									</label>
								</div>

								<div class="form__radio-group">
									<input type="radio" class="form__radio-input" id="organicFarm" name="placetypegroup"
										value="organicFarm" ng-model="params.placeType">
									<label for="organicFarm" class="form__radio-label">
										<span class="form__radio-button"></span>
										<span class="radio-content">{{translations.ORGANICFARM}}</span>
									</label>
								</div>

								<div class="form__radio-group">
									<input type="radio" class="form__radio-input" id="nonOrganicFarm"
										name="placetypegroup" value="nonOrganicFarm" ng-model="params.placeType">
									<label for="nonOrganicFarm" class="form__radio-label">
										<span class="form__radio-button"></span>
										<span class="radio-content">{{translations.NONORGANICFARM}}</span>
									</label>
								</div>
							</div>

						</li>
					</div>
					<!-- end of farmtype -->
					<!-- end of addobservation -->
				</ul>
			</div> <!-- end of flex table -->
			<br>
			<div class="container-alert">
				<div class='js-fade fade-out is-paused alert alert-success' id="messageAddSuccess"
					ng-if='addObservationSuccess != ""'>{{addObservationSuccess}}</div>
				<div class='js-fade fade-out is-paused alert alert-danger' id="messageAddFailure"
					ng-if='addObservationFailure != ""'>{{addObservationFailure}}</div>
			</div>

			<button type="submit" id="observationSubmit" ng-disabled="latinNameNotReserved || myForm.$pending"
				type="button" class="button button-blue centered">{{translations.ADDOBSERVATION}}</button>
		</form>

	</div> <!-- end of add observation panel -->
</section>