
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> {{translations.SIGNUP}}</h1>

    <!-- show any messages that come back with authentication -->

    <div id="message" ng-if='message != ""' class="alert alert-danger">{{message}}</div>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
	<div class="form-group">
            <label>{{translations.USERNAME}}</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>{{translations.EMAIL}}</label>
            <input id="email" type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>{{translations.PASSWORD}}</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>

        <button type="submit" id="signup" class="btn btn-warning btn-lg">{{translations.SIGNUP}}</button>
    </form>

    <hr>

    <p>{{{{translations.ALREADYACCOUNT}} <a href="#/login">{{translations.LOGIN}}</a></p>
    <p>{{translations.ORGO}} <a href="/">{{translations.HOME}}</a>.</p>

</div>

