<h1 id="uploadList">{{translations.UPLOADLIST}}</h1>

<div ng-repeat="insects in uploadList" class="centered">
	<div ng-if="insects.length > 0">
		<h3 id='Ant' ng-if="insects[0].category == 'Ant'">{{translations.ANT}}:</h3>
		<h3 id='Bee' ng-if="insects[0].category == 'Bee'">{{translations.BEE}}:</h3>
		<h3 id='Beetle' ng-if="insects[0].category == 'Beetle'">{{translations.BEETLE}}:</h3>
		<h3 id='Butterfly' ng-if="insects[0].category == 'Butterfly'">{{translations.BUTTERFLY}}:</h3>
		<h3 id='Centipede' ng-if="insects[0].category == 'Centipede'">{{translations.CENTIPEDE}}:</h3>
		<h3 id='Spider' ng-if="insects[0].category == 'Spider'">{{translations.SPIDER}}:</h3>
		<ul class="insect-thumbs">
			<li ng-repeat="insect in insects">
				<div class="thumb-card">
					<div class="margin-top-md" ng-repeat="translation in insect.translations">
						<p class="name-translation" ng-if="translation.language==lang">
							{{translation.name}}
						</p>

					</div>
					<p class="latinname-translation">
						{{insect.latinName}}
					</p>
					<img ng-src="{{insect.images[0]+'_thumb.jpg'}}" id="{{insect.latinName}}"
						ng-click="upload(insect)" />
				</div>
			</li>
		</ul>
	</div>

</div>

<div class="centered" ng-if="uploadList.length == 0">
	<p class="start-adding-insect">{{translations.NOUPLOADEDINSECTFOUND}} <a
			ng-click="upload()">{{translations.HERE}}</a></p>
</div>