<h1 id="uploadList">{{translations.UPLOADLIST}}</h1>

<div class="container-alert">
	<div id="fileuploadMessage" ng-if='fileuploadMessage != ""' class="alert alert-success is-paused fade-out">
		{{fileuploadMessage}}</div>
</div>

<div ng-repeat="insects in uploadList" class="centered">
	<div ng-if="insects.length > 0">
		<h3>{{translations[insects[0].category]}}:</h3>

		<ul class="insect-thumbs">
			<li ng-repeat="insect in insects">
				<div class="thumb-card" ng-click="upload(insect)">
					<div class="margin-top-md" ng-repeat="translation in insect.translations">
						<p class="name-translation" ng-if="translation.language==lang">
							{{translation.name}}
						</p>

					</div>
					<p class="latinname-translation">
						<i>{{insect.latinName}}</i>
					</p>
					<img ng-src="{{insect.images[0]+'_thumb.jpg'}}" id="{{insect.latinName}}" />
				</div>
			</li>
		</ul>
	</div>

</div>

<div class="container-uploadlist-pagination" ng-if="!hidePagination">
	<nav aria-label="Page navigation">
		<ul class="pagination" id="pagination"></ul>
	</nav>
</div>

<div class="container-empty-upload-list" ng-if="dataLength === 0">
	<p class="start-adding-insect">{{translations.NOUPLOADEDINSECTFOUND}} <a
			ng-click="upload()">{{translations.HERE}}</a></p>
</div>