<p margin-top="2em" />
<div ng-if="isUpload==1" id="upload-title">
	<h1>{{translations.UPLOADPAGE}}</h1>
</div>
<div ng-if="isUpload==0">
	<h1>{{translations.MODIFYPAGE}}</h1>
</div>
<form action="{{'/insects/insert?_csrf='+csrftoken}}" name="myForm" id="myForm" enctype="multipart/form-data"
	method="post">
	<div class="flex-center">

		<ul id="flex-table" class="flex-table">

			<li>{{translations.ENGLISHNAME}}: </li>

			<li style="min-width:200px">
				<input class="form-control-own" id="englishName" type="text" value="{{enName}}" name="enName"
					ng-model="enName" />
			</li>
			<li>{{translations.FINNISHNAME}}: </li>
			<li>
				<input class="form-control-own" id="finnishName" type="text" value="{{fiName}}" name="fiName"
					ng-model="fiName" />
			</li>
			<li>{{translations.LATINNAME}}: (*)</li>
			<li>
				<input class="form-control-own" id="latinName" type="text" name="latinName" ng-model="latinName"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }" required
					latin-name />
				<p ng-if="latinNameReserved">This latin name has already been used.</p>

			</li>
			<!--<td><span ng-show="myForm.latinName.$touched && myForm.latinName.$invalid">{{translations.LATINNAMEREQUIRED}}</span></td>-->


			<li> {{translations.CATEGORY}}: (*)</li>
			<li>
				<select class="form-control-own" id="category" value="{{category}}" name="category" ng-model="category"
					required>
					<option ng-repeat="category in categories" value="{{category[1]}}">
						{{category[0]}}
					</option>
				</select>
				<p ng-show="myForm.category.$touched && myForm.category.$invalid">{{translations.CATEGORYREQUIRED}}</p>

			</li>


			<li> {{translations.PRIMARYCOLOR}}: (*)</li>
			<li>
				<select class="form-control-own" id="primaryColor" name="primaryColor" value="{{primaryColor}}"
					ng-model="primaryColor" required>
					<option ng-repeat="color in colors" value="{{color[1]}}">
						{{color[0]}}
					</option>
				</select>
				<p ng-show="myForm.primaryColor.$touched && myForm.primaryColor.$invalid">
					{{translations.PRIMARYCOLORREQUIRED}}</p>

			</li>

			<li> {{translations.SECONDARYCOLOR}}: (*)</li>
			<li>
				<select class="form-control-own" id="secondaryColor" name="secondaryColor" value="{{secondaryColor}}"
					ng-model="secondaryColor" required>
					<option ng-repeat="color in colors" value="{{color[1]}}">
						{{color[0]}}
					</option>
				</select>
				<p ng-show="myForm.secondaryColor.$touched && myForm.secondaryColor.$invalid">
					{{translations.SECONDARYCOLORREQUIRED}}</p>

			</li>

			<li> {{translations.WIKIENTRY}}:</li>
			<li> <input class="form-control-own" id="wiki" type="text" name="wiki" ng-model="wiki" />
			</li>

			<li>
				{{translations.IMAGELINKS}}:
			</li>
			<li>
				<textarea id="imageLinks" rows="3" ng-change="downloadImageLinks()" name="imageLinks"
					ng-model="imageLinks"></textarea>
				<div class="lds-center" ng-class="{hideSpinner:!displaySpinner}" style="margin-bottom: 28px">
					<div class="lds-spinner spinner-loading" id="spinner-search">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div class="images-retrieved" ng-if="imageLinks && imagesDownloaded">
					<p>{{numberOfImagesDownloaded}} image links retrieved/ready</p>
				</div>
			</li>

			<li> {{translations.SELECTANIMAGETOUPLOAD}}:
				<!--<span ng-if="isRequired">(*)</span>-->
			</li>
			<li>
				<input type="file" id="userPhotos" class="user-photos" accept="image/*" name="userPhotos"
					ng-required="isRequired" custom-on-change="fileChange" multiple />
				<label for="userPhotos">{{translations.BROWSE}}... </label><span
					ng-if="fileInputPopulated">{{nroOfUserPhotos}}
					file(s) selected</span>
				<div id="showFiles">

				</div>
			</li>
			<li></li>
			<li>
				<!--noPhotosSelected: {{noPhotosSelected}}-->
				<div class="no-photos-selected-container no-photos-selected-container--danger" ng-if="noPhotosSelected">
					<p> Please, select at least one photo </p>
				</div>
			</li>

			<li><span ng-show="myForm.userPhotos.$touched && myForm.userPhotos.$invalid">A photo is required.</span>
			</li>
			<li class="hidden-file-input">
				<input type="file" id="userPhotos2" name="userPhotos2" multiple />

				<div id="showFiles">

				</div>
			</li>
			<li></li>


			<input type="hidden" id="isUpload" name="isUpload" value="{{isUpload}}" ng-model="isUpload" />
			<input type="hidden" id="insectId" name="insectId" value="{{insectId}}" ng-model="insectId" />
			<input type="hidden" id="page" name="page" value="{{page}}" ng-model="page" />

			<!-- search filters passed from upload list-->

			<input type="hidden" id="categoryModel" name="categoryModel" value="{{categoryModel}}"
				ng-model="categoryModel" />
			<input type="hidden" id="name" name="name" value="{{name}}" ng-model="name" />
			<br>
			<br>
			<br>
		</ul>

	</div>
	<!-- existing insect pictures-->

	<div class="container" ng-if="isUpload==0" id="uploadedPhotos">
		<ul class="insect-thumbs-upload container-insect-detail">
			<li ng-repeat="photo in photos">
				<img ng-src="{{photo.name+'_thumb.jpg'}}" id="{{photo.name}}" alt={{insect.latinName}} />
				<div class="photo-checkbox-container">
					<input type='checkbox' class="input--sm photo-checkbox" name="{{photo.name}}"
						ng-model="photo.checked" ng-click="checkPhotoRequired(photo)" />{{translations.REMOVEPHOTO}}
				</div>
			</li>
		</ul>
	</div>
	<br>
	<!-- buttons-->
	<div>
		<div ng-if="isUpload==1">
			<button id="uploadSubmit" type="submit" ng-click="submit()" class="button button-blue centered"
				value="{{translations.UPLOAD}}"
				ng-disabled="disableUpload || myForm.$pending">{{translations.UPLOAD}}</button>

		</div>
		<div ng-if="isUpload==0" class="flex-table flex-table-column-gap-md flex-table-row-gap-md">

			<button id="updateSubmit" ng-click="submit()" type="submit" class="button button-blue"
				value="{{translations.SAVE}}"
				ng-disabled="disableUpload || myForm.$pending">{{translations.SAVE}}</button>
			<button id="deleteInsect" type="button" ng-click="deleteInsect()" class="button button-red"
				value="{{translations.DELETE}}">{{translations.DELETE}}</button>
			<button id="returnToUploadList" type="button" ng-click="returnToUploadList()" class="button button-green"
				value="{{translations.UPLOADLIST}}">{{translations.RETURNTOUPLOADLIST}} &rarr;</button>

		</div>

	</div>

</form>

<p margin-top="2em" />