<h1 id="albumList">{{translations.ALBUM}} - {{album.name}}</h1>

<div>

    <ul class="album-items">
        <li ng-repeat="insect in insects">
            <div class="album-item-card">
                <img ng-src="{{insect.images[0]}}" />

                <div class="margin-top-md text-centered">
                    <div class="margin-top-md" ng-repeat="translation in insect.translations">
                        <p class="name-translation" ng-if="translation.language==lang">
                            {{translation.name}}
                        </p>
                    </div>
                    <p class="latinname-translation">
                        <i>{{insect.latinName}}</i>
                    </p>

                </div>
            </div>
        </li>
    </ul>

    <div class="container-albumlist-pagination" ng-if="!hidePagination">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>


</div>