logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
db-server
app/public/insects/insect-single.json
app/public/images/kovakuoriaiset
app/public/images/phones
config.env